In [4]:
import sys
!{sys.executable} -m pip install autogluon.timeseries

Collecting autogluon.timeseries
  Downloading autogluon.timeseries-1.1.1-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: joblib<2,>=1.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (1.4.2)
Requirement already satisfied: numpy<1.29,>=1.21 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (1.26.4)
Collecting scipy<1.13,>=1.5.4 (from autogluon.timeseries)
  Downloading scipy-1.12.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: pandas<2.3.0,>=2.0.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (2.1.4)
Collecting torch<2.4,>=2.2 (from autogluon.timeseries)
  Downloading torch-2.3.1-cp39-cp39-manylinux1_x86_64.whl.metadata (26 kB)
Collecting lightning<2.4,>=2.2 (from autogluon.timeseries)
  Downloading lightning-2.3.3-py3-none-any.whl.metadata (35 kB)
Collecting pytorch-lightning<2.4,>=2.2 (from autogluon.timeseries)
  Downloading pytorch_lightning-2.3.3-py3-none-any.whl.metadata (21 kB)
Collecting transformers<4.41.0,>=4.38.0 (from transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries)
  Downloading transformers-4.40.2-py3-none-any.whl.metadata (137 kB)
Collecting accelerate<0.22.0,>=0.21.0 (from autogluon.timeseries)
  Downloading accelerate-0.21.0-py3-none-any.whl.metadata (17 kB)
Collecting gluonts==0.15.1 (from autogluon.timeseries)
  Using cached gluonts-0.15.1-py3-none-any.whl.metadata (9.9 kB)
Requirement already satisfied: networkx<4,>=3.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (3.2.1)
Collecting statsforecast<1.5,>=1.4.0 (from autogluon.timeseries)
  Downloading statsforecast-1.4.0-py3-none-any.whl.metadata (19 kB)
Collecting mlforecast<0.10.1,>=0.10.0 (from autogluon.timeseries)
  Downloading mlforecast-0.10.0-py3-none-any.whl.metadata (11 kB)
Collecting utilsforecast<0.0.11,>=0.0.10 (from autogluon.timeseries)
  Downloading utilsforecast-0.0.10-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: tqdm<5,>=4.38 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (4.66.5)
Collecting orjson~=3.9 (from autogluon.timeseries)
  Downloading orjson-3.10.11-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (50 kB)
Collecting tensorboard<3,>=2.9 (from autogluon.timeseries)
  Downloading tensorboard-2.18.0-py3-none-any.whl.metadata (1.6 kB)
Collecting autogluon.core==1.1.1 (from autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading autogluon.core-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.common==1.1.1 (from autogluon.timeseries)
  Downloading autogluon.common-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.tabular==1.1.1 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading autogluon.tabular-1.1.1-py3-none-any.whl.metadata (13 kB)
Collecting boto3<2,>=1.10 (from autogluon.common==1.1.1->autogluon.timeseries)
  Using cached boto3-1.35.56-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: psutil<6,>=5.7.3 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.common==1.1.1->autogluon.timeseries) (5.9.0)
Requirement already satisfied: setuptools in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.common==1.1.1->autogluon.timeseries) (75.1.0)
Collecting scikit-learn<1.4.1,>=1.3.0 (from autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading scikit_learn-1.4.0-1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: requests in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (2.32.3)
Requirement already satisfied: matplotlib in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (3.9.2)
Collecting ray<2.11,>=2.10.0 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading ray-2.10.0-cp39-cp39-manylinux2014_x86_64.whl.metadata (13 kB)
Collecting hyperopt<0.2.8,>=0.2.7 (from autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached hyperopt-0.2.7-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting autogluon.features==1.1.1 (from autogluon.tabular==1.1.1->autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading autogluon.features-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting xgboost<2.1,>=1.6 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading xgboost-2.0.3-py3-none-manylinux2014_x86_64.whl.metadata (2.0 kB)
Collecting catboost<1.3,>=1.1 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading catboost-1.2.7-cp39-cp39-manylinux2014_x86_64.whl.metadata (1.2 kB)
Collecting lightgbm<4.4,>=3.3 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading lightgbm-4.3.0-py3-none-manylinux_2_28_x86_64.whl.metadata (19 kB)
Requirement already satisfied: pydantic<3,>=1.7 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from gluonts==0.15.1->autogluon.timeseries) (2.9.2)
Requirement already satisfied: toolz~=0.10 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from gluonts==0.15.1->autogluon.timeseries) (0.12.1)
Requirement already satisfied: typing-extensions~=4.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from gluonts==0.15.1->autogluon.timeseries) (4.11.0)
Requirement already satisfied: packaging>=20.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from accelerate<0.22.0,>=0.21.0->autogluon.timeseries) (24.1)
Requirement already satisfied: pyyaml in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from accelerate<0.22.0,>=0.21.0->autogluon.timeseries) (6.0.2)
Requirement already satisfied: fsspec<2026.0,>=2022.5.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from fsspec[http]<2026.0,>=2022.5.0->lightning<2.4,>=2.2->autogluon.timeseries) (2024.2.0)
Requirement already satisfied: lightning-utilities<2.0,>=0.10.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from lightning<2.4,>=2.2->autogluon.timeseries) (0.11.7)
Requirement already satisfied: torchmetrics<3.0,>=0.7.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from lightning<2.4,>=2.2->autogluon.timeseries) (1.4.2)
Requirement already satisfied: numba in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from mlforecast<0.10.1,>=0.10.0->autogluon.timeseries) (0.60.0)
Collecting window-ops (from mlforecast<0.10.1,>=0.10.0->autogluon.timeseries)
  Using cached window_ops-0.0.15-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.timeseries) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.timeseries) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.timeseries) (2024.2)
Collecting plotly (from statsforecast<1.5,>=1.4.0->autogluon.timeseries)
  Using cached plotly-5.24.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: statsmodels>=0.13.2 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from statsforecast<1.5,>=1.4.0->autogluon.timeseries) (0.14.3)
Collecting absl-py>=0.4 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Using cached absl_py-2.1.0-py3-none-any.whl.metadata (2.3 kB)
Collecting grpcio>=1.48.2 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Downloading grpcio-1.67.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.9 kB)
Collecting markdown>=2.6.8 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Using cached Markdown-3.7-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: protobuf!=4.24.0,>=3.19.6 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from tensorboard<3,>=2.9->autogluon.timeseries) (5.28.2)
Requirement already satisfied: six>1.9 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from tensorboard<3,>=2.9->autogluon.timeseries) (1.16.0)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Using cached tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl.metadata (1.1 kB)
Collecting werkzeug>=1.0.1 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Downloading werkzeug-3.1.2-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: filelock in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from torch<2.4,>=2.2->autogluon.timeseries) (3.13.1)
Requirement already satisfied: sympy in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from torch<2.4,>=2.2->autogluon.timeseries) (1.12)
Requirement already satisfied: jinja2 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from torch<2.4,>=2.2->autogluon.timeseries) (3.1.3)
Collecting nvidia-cuda-nvrtc-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cuda_nvrtc_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cuda_runtime_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cuda_cupti_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==8.9.2.26 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cudnn_cu12-8.9.2.26-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.1.3.1 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cublas_cu12-12.1.3.1-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.0.2.54 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cufft_cu12-11.0.2.54-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.2.106 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_curand_cu12-10.3.2.106-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.4.5.107 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cusolver_cu12-11.4.5.107-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.1.0.106 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cusparse_cu12-12.1.0.106-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-nccl-cu12==2.20.5 (from torch<2.4,>=2.2->autogluon.timeseries)
  Using cached nvidia_nccl_cu12-2.20.5-py3-none-manylinux2014_x86_64.whl.metadata (1.8 kB)
Collecting nvidia-nvtx-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_nvtx_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.7 kB)
Collecting triton==2.3.1 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading triton-2.3.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Collecting nvidia-nvjitlink-cu12 (from nvidia-cusolver-cu12==11.4.5.107->torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_nvjitlink_cu12-12.6.77-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: huggingface-hub<1.0,>=0.19.3 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (0.25.1)
Requirement already satisfied: regex!=2019.12.17 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (2024.9.11)
Collecting tokenizers<0.20,>=0.19 (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries)
  Downloading tokenizers-0.19.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: safetensors>=0.4.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (0.4.5)
Requirement already satisfied: sentencepiece!=0.1.92,>=0.1.91 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (0.2.0)
Collecting botocore<1.36.0,>=1.35.56 (from boto3<2,>=1.10->autogluon.common==1.1.1->autogluon.timeseries)
  Using cached botocore-1.35.56-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3<2,>=1.10->autogluon.common==1.1.1->autogluon.timeseries)
  Using cached jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3<2,>=1.10->autogluon.common==1.1.1->autogluon.timeseries)
  Using cached s3transfer-0.10.3-py3-none-any.whl.metadata (1.7 kB)
Collecting graphviz (from catboost<1.3,>=1.1->autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Using cached graphviz-0.20.3-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from fsspec[http]<2026.0,>=2022.5.0->lightning<2.4,>=2.2->autogluon.timeseries) (3.10.8)
Collecting future (from hyperopt<0.2.8,>=0.2.7->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached future-1.0.0-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: cloudpickle in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (3.0.0)
Collecting py4j (from hyperopt<0.2.8,>=0.2.7->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: importlib-metadata>=4.4 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard<3,>=2.9->autogluon.timeseries) (7.0.1)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from numba->mlforecast<0.10.1,>=0.10.0->autogluon.timeseries) (0.43.0)
Requirement already satisfied: annotated-types>=0.6.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pydantic<3,>=1.7->gluonts==0.15.1->autogluon.timeseries) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pydantic<3,>=1.7->gluonts==0.15.1->autogluon.timeseries) (2.23.4)
Requirement already satisfied: click>=7.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (8.1.7)
Collecting jsonschema (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached jsonschema-4.23.0-py3-none-any.whl.metadata (7.9 kB)
Collecting msgpack<2.0.0,>=1.0.0 (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading msgpack-1.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.4 kB)
Requirement already satisfied: aiosignal in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (1.3.1)
Requirement already satisfied: frozenlist in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (1.4.1)
Requirement already satisfied: tensorboardX>=1.9 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (2.6.2.2)
Requirement already satisfied: pyarrow>=6.0.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (17.0.0)
Collecting aiohttp-cors (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached aiohttp_cors-0.7.0-py3-none-any.whl.metadata (20 kB)
Collecting colorful (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached colorful-0.5.6-py2.py3-none-any.whl.metadata (16 kB)
Collecting py-spy>=0.2.0 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached py_spy-0.4.0-py2.py3-none-manylinux_2_5_x86_64.manylinux1_x86_64.whl.metadata (16 kB)
Collecting opencensus (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached opencensus-0.11.4-py2.py3-none-any.whl.metadata (12 kB)
Collecting prometheus-client>=0.7.1 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached prometheus_client-0.21.0-py3-none-any.whl.metadata (1.8 kB)
Collecting smart-open (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached smart_open-7.0.5-py3-none-any.whl.metadata (24 kB)
Collecting virtualenv!=20.21.1,>=20.0.24 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached virtualenv-20.27.1-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from scikit-learn<1.4.1,>=1.3.0->autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from statsmodels>=0.13.2->statsforecast<1.5,>=1.4.0->autogluon.timeseries) (0.5.6)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from werkzeug>=1.0.1->tensorboard<3,>=2.9->autogluon.timeseries) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (0.12.1)

In [5]:
import torch
num_gpus = torch.cuda.device_count()
print("Number of GPUs available:", num_gpus)

for i in range(num_gpus):
    gpu_name = torch.cuda.get_device_name(i)
    print(f"GPU {i}: {gpu_name}")

Number of GPUs available: 1
GPU 0: NVIDIA A30

In [6]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor
import pandas as pd
import numpy as np

/home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Read data

In [10]:
my_data = pd.read_csv('../GD030A_S.csv')

In [11]:
# Define the recover_timestamp function
def recover_timestamp(data):
    # Combine 'date' and 'time' to form a datetime column
    data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'].astype(str) + ':00', format='%Y-%m-%d %H:%M')

    # Set 'datetime' as index
    data = data.set_index('datetime')

    # Create a complete range of timestamps with hourly frequency
    full_time_range = pd.date_range(start=data.index.min(), end=data.index.max(), freq='H')

    # Reindex the data to include all timestamps, filling missing rows with NaN
    data_full = data.reindex(full_time_range)

    return data_full

In [12]:
traffic_full = recover_timestamp(my_data)
traffic_full

                           date  time   flow
2019-10-01 00:00:00  2019-10-01   0.0   15.0
2019-10-01 01:00:00  2019-10-01   1.0    9.0
2019-10-01 02:00:00  2019-10-01   2.0    9.0
2019-10-01 03:00:00  2019-10-01   3.0    7.0
2019-10-01 04:00:00  2019-10-01   4.0    9.0
...                         ...   ...    ...
2023-09-30 19:00:00  2023-09-30  19.0  129.0
2023-09-30 20:00:00  2023-09-30  20.0  119.0
2023-09-30 21:00:00  2023-09-30  21.0  106.0
2023-09-30 22:00:00  2023-09-30  22.0   88.0
2023-09-30 23:00:00  2023-09-30  23.0   88.0

[35064 rows x 3 columns]

In [13]:
train_set = traffic_full[:'2022-02-28 23:00:00']
valid_set = traffic_full['2022-03-01 00:00:00':'2022-12-31 23:00:00']
test_set = traffic_full['2023-01-01 00:00:00':]
print('Proportion of train_set : {:.4f}'.format(len(train_set)/len(traffic_full)))
print('Proportion of valid_set : {:.4f}'.format(len(valid_set)/len(traffic_full)))
print('Proportion of test_set : {:.4f}'.format(len(test_set)/len(traffic_full)))

Proportion of train_set : 0.6037
Proportion of valid_set : 0.2094
Proportion of test_set : 0.1869

In [14]:
def create_sequences(data, input_length, forecast_horizon):
    """
    Creates sequences for time series data, excluding any sequences containing NaN values.

    Parameters:
    - data: pandas DataFrame containing the data. Must include the 'flow' column.
    - input_length: int, number of past time steps to include in each input sequence.
    - forecast_horizon: int, number of future steps to predict.

    Returns:
    - sequences_df: pandas DataFrame containing all sequences with input lags and output leads,
                    and an 'item_id' column to separate each sequence, including timestamps.
    """
    sequences = []
    item_id = 0  # To assign unique ID to each sequence

    for i in range(input_length, len(data) - forecast_horizon + 1):
        # Extract the input sequence
        X_seq = data.iloc[i - input_length:i]['flow'].values
        X_timestamps = data.iloc[i - input_length:i].index
        # Extract the target sequence
        y_seq = data.iloc[i:i + forecast_horizon]['flow'].values
        y_timestamps = data.iloc[i:i + forecast_horizon].index

        # Check for NaN values in the input sequence and target sequence
        if not np.isnan(X_seq).any() and not np.isnan(y_seq).any():
            # Convert X_seq and y_seq to DataFrames, including their timestamps
            x_df = pd.DataFrame({'target': X_seq, 'timestamp': X_timestamps})
            y_df = pd.DataFrame({'target': y_seq, 'timestamp': y_timestamps})

            # Concatenate X_df and y_df
            seq_df = pd.concat([x_df, y_df], ignore_index=True)

            # Add 'item_id' column
            seq_df['item_id'] = str(item_id)
            item_id += 1  # Increment item_id

            # Append to list
            sequences.append(seq_df)
        else:
            # Optionally, log or count the skipped sequences
            pass  # Simply skip sequences with NaNs

    # Concatenate all sequences into one DataFrame
    sequences_df = pd.concat(sequences)
    sequences_df['item_id'] = sequences_df['item_id'].astype('str')
    sequences_df['target'] = sequences_df['target'].astype('float32')

    return sequences_df

In [15]:
input_lengths = [24 * i for i in range(1, 22)]
prediction_length = 6

In [16]:
from collections import defaultdict
data_dict = defaultdict(dict)

for length in input_lengths:
    print(f"Processing input length: {length}")

    # Create sequences with forecast_horizon=6
    test = create_sequences(test_set, length, forecast_horizon=6)

    # Store in the dictionary
    data_dict[length]['test'] = test

    # Print shapes and ensure no NaNs
    print(f"  test shape: {test.index.max()+1}, {len(test.item_id.unique())}\n")

Processing input length: 24
  test shape: 30, 5915

Processing input length: 48
  test shape: 54, 5728

Processing input length: 72
  test shape: 78, 5560

Processing input length: 96
  test shape: 102, 5392

Processing input length: 120
  test shape: 126, 5224

Processing input length: 144
  test shape: 150, 5056

Processing input length: 168
  test shape: 174, 4888

Processing input length: 192
  test shape: 198, 4720

Processing input length: 216
  test shape: 222, 4552

Processing input length: 240
  test shape: 246, 4384

Processing input length: 264
  test shape: 270, 4216

Processing input length: 288
  test shape: 294, 4048

Processing input length: 312
  test shape: 318, 3880

Processing input length: 336
  test shape: 342, 3712

Processing input length: 360
  test shape: 366, 3544

Processing input length: 384
  test shape: 390, 3394

Processing input length: 408
  test shape: 414, 3250

Processing input length: 432
  test shape: 438, 3123

Processing input length: 456
  test shape: 462, 3003

Processing input length: 480
  test shape: 486, 2883

Processing input length: 504
  test shape: 510, 2781

# Zero-shot

In [17]:
def chronos_zero_shot(input_lengths, prediction_length, model_type):
    results_dict = defaultdict(dict)

    for length in input_lengths:
        print(f"Processing input length: {length}")

        # prepare the data
        test_data = TimeSeriesDataFrame(data_dict[length]['test'])
        test_data_ready, test_data = test_data.train_test_split(prediction_length)

        predictor = TimeSeriesPredictor(prediction_length=prediction_length).fit(test_data_ready, presets=model_type)
        predictions = predictor.predict(test_data_ready)

        ground_truth_df = test_data.groupby(level='item_id').tail(6)
        predicted_df = predictions[['mean']]

        results_dict[length]['Predicted_Results'] = predicted_df
        results_dict[length]['Gound_Truth'] = ground_truth_df

    return results_dict

In [26]:
torch.cuda.empty_cache()

In [ ]:
# results_dict1 = chronos_zero_shot(input_lengths, prediction_length, "chronos_tiny")
results_dict2 = chronos_zero_shot(input_lengths, prediction_length, "chronos_mini")
# results_dict3 = chronos_zero_shot(input_lengths, prediction_length, "chronos_small")

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_174437'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.64 GB / 125.71 GB (4.5%)
Disk Space Avail:   393.41 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 141960 rows, 5915 time series. Median time series length is 24 (min=24, max=24).

Processing input length: 24

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:44:37
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_174517'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.65 GB / 125.71 GB (4.5%)
Disk Space Avail:   393.40 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 274944 rows, 5728 time series. Median time series length is 48 (min=48, max=48).

Processing input length: 48

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:45:17
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_174559'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.64 GB / 125.71 GB (4.5%)
Disk Space Avail:   393.40 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 72

Inferred time series frequency: 'H'
Provided train_data has 400320 rows, 5560 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:45:59
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_174643'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.56 GB / 125.71 GB (4.4%)
Disk Space Avail:   393.39 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 96

Inferred time series frequency: 'H'
Provided train_data has 517632 rows, 5392 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:46:43
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 120

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_174731'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.56 GB / 125.71 GB (4.4%)
Disk Space Avail:   393.38 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 626880 rows, 5224 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:47:32
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 144

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_174826'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.48 GB / 125.71 GB (4.4%)
Disk Space Avail:   393.37 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 728064 rows, 5056 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:48:26
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 168

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_174926'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.38 GB / 125.71 GB (4.3%)
Disk Space Avail:   393.36 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 821184 rows, 4888 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:49:26
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 192

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241108_175029'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       5.49 GB / 125.71 GB (4.4%)
Disk Space Avail:   393.35 GB / 1003.85 GB (39.2%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 906240 rows, 4720 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-08 17:50:29
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

In [21]:
def cal_metrics(df_true, df_pred):
    df_merged = pd.merge(df_true, df_pred, on=['item_id', 'timestamp'], how='inner')

    # Step 3: Assign prediction step numbers (1 to 6) within each 'item_id'
    df_merged['step'] = df_merged.groupby('item_id').cumcount() + 1

    # Step 4: Calculate error metrics
    df_merged['error'] = df_merged['mean'] - df_merged['target']
    df_merged['abs_error'] = df_merged['error'].abs()
    df_merged['squared_error'] = df_merged['error'] ** 2

    # Handle division by zero in MAPE calculation by adding a very small number (epsilon)
    epsilon = 1e-10
    df_merged['abs_percentage_error'] = df_merged['abs_error'] / (df_merged['target'].abs() + epsilon)

    # Step 5: Calculate overall metrics
    overall_mse = df_merged['squared_error'].mean()
    overall_rmse = np.sqrt(overall_mse)
    overall_mae = df_merged['abs_error'].mean()
    overall_mape = df_merged['abs_percentage_error'].mean() * 100

    print("Overall Evaluation Metrics:")
    print(f"MSE: {overall_mse:.4f}")
    print(f"RMSE: {overall_rmse:.4f}")
    print(f"MAE: {overall_mae:.4f}")
    print(f"MAPE: {overall_mape:.2f}%")

    # Step 6: Calculate metrics for each prediction step
    metrics_by_step = df_merged.groupby('step').agg({
      'squared_error': 'mean',
      'abs_error': 'mean',
      'abs_percentage_error': 'mean'
    }).reset_index()

    metrics_by_step['MSE'] = metrics_by_step['squared_error']
    metrics_by_step['RMSE'] = np.sqrt(metrics_by_step['squared_error'])
    metrics_by_step['MAE'] = metrics_by_step['abs_error']
    metrics_by_step['MAPE'] = metrics_by_step['abs_percentage_error'] * 100

    # Select relevant columns and round for better readability
    metrics_by_step = metrics_by_step[['step', 'MSE', 'RMSE', 'MAE', 'MAPE']]

    return metrics_by_step

In [24]:
def metrics_results(results_dict):
    for length in input_lengths:
        print(f"Processing input length: {length}")
    
        predict = results_dict[length]['Predicted_Results']
        truth = results_dict[length]['Gound_Truth']
        evaluation_df = cal_metrics(predict, truth)
        display(evaluation_df)

In [25]:
metrics_results(results_dict1)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 2244.3584
RMSE: 47.3747
MAE: 32.5315
MAPE: 34.92%

   step          MSE       RMSE        MAE       MAPE
0     1  1298.925490  36.040609  24.836219  25.205852
1     2  1872.780967  43.275639  29.960267  30.572911
2     3  2218.228326  47.098071  32.453996  33.784616
3     4  2444.599725  49.442894  34.219329  36.914544
4     5  2688.532095  51.851057  36.071117  40.515557
5     6  2943.084039  54.250199  37.648348  42.549825

Processing input length: 48
Overall Evaluation Metrics:
MSE: 1983.0282
RMSE: 44.5312
MAE: 29.4247
MAPE: 31.65%

   step          MSE       RMSE        MAE       MAPE
0     1  1228.491676  35.049846  23.609824  24.053533
1     2  1692.785605  41.143476  27.313469  28.002762
2     3  1962.360583  44.298539  29.500414  31.049345
3     4  2160.769397  46.484077  30.917706  33.515965
4     5  2348.487830  48.461199  32.146311  36.051962
5     6  2505.274328  50.052715  33.060712  37.223322

Processing input length: 72
Overall Evaluation Metrics:
MSE: 1942.6707
RMSE: 44.0757
MAE: 28.8227
MAPE: 30.52%

   step          MSE       RMSE        MAE       MAPE
0     1  1188.609135  34.476211  23.113054  23.546780
1     2  1670.267958  40.868912  26.936421  27.597051
2     3  1918.747645  43.803512  28.957471  30.205522
3     4  2138.377266  46.242591  30.415349  32.448856
4     5  2296.824008  47.925192  31.397986  34.093948
5     6  2443.197889  49.428715  32.115952  35.200370

Processing input length: 96
Overall Evaluation Metrics:
MSE: 1863.6288
RMSE: 43.1698
MAE: 28.0905
MAPE: 29.84%

   step          MSE       RMSE        MAE       MAPE
0     1  1172.671096  34.244286  22.943581  23.589328
1     2  1614.233775  40.177528  26.566240  27.643537
2     3  1856.800723  43.090611  28.351752  30.046317
3     4  2041.313736  45.180900  29.442441  31.424978
4     5  2169.123962  46.573855  30.244157  32.615059
5     6  2327.629354  48.245511  30.994993  33.721860

Processing input length: 120
Overall Evaluation Metrics:
MSE: 1792.4049
RMSE: 42.3368
MAE: 27.4833
MAPE: 29.35%

   step          MSE       RMSE        MAE       MAPE
0     1  1143.072514  33.809355  22.719814  23.674321
1     2  1572.556978  39.655479  25.954956  27.143977
2     3  1786.412711  42.265976  27.551118  29.151129
3     4  1938.601449  44.029552  28.730039  30.832648
4     5  2084.710802  45.658633  29.585885  32.064203
5     6  2229.075153  47.213082  30.357698  33.216423

Processing input length: 144
Overall Evaluation Metrics:
MSE: 1777.3215
RMSE: 42.1583
MAE: 27.1535
MAPE: 28.47%

   step          MSE       RMSE        MAE       MAPE
0     1  1139.555243  33.757299  22.591950  23.265582
1     2  1547.427891  39.337360  25.585157  26.324552
2     3  1771.162361  42.085180  27.336812  28.459789
3     4  1932.303248  43.957971  28.376446  29.778221
4     5  2059.085702  45.377150  29.132371  31.012998
5     6  2214.394331  47.057352  29.898389  31.997105

Processing input length: 168
Overall Evaluation Metrics:
MSE: 1758.6743
RMSE: 41.9366
MAE: 26.8179
MAPE: 28.10%

   step          MSE       RMSE        MAE       MAPE
0     1  1138.156593  33.736576  22.350763  23.138072
1     2  1540.205387  39.245451  25.257962  25.842409
2     3  1755.683682  41.900879  26.886293  28.163200
3     4  1898.189361  43.568215  28.002182  29.455020
4     5  2038.130234  45.145656  28.860047  30.736562
5     6  2181.680713  46.708465  29.550182  31.283568

Processing input length: 192
Overall Evaluation Metrics:
MSE: 1741.5044
RMSE: 41.7313
MAE: 26.2983
MAPE: 27.43%

   step          MSE       RMSE        MAE       MAPE
0     1  1141.945033  33.792677  22.200877  22.928050
1     2  1521.104096  39.001335  24.737240  25.673291
2     3  1732.719859  41.625952  26.228138  27.343507
3     4  1872.119461  43.267996  27.405679  28.725858
4     5  2015.684066  44.896370  28.244646  29.750590
5     6  2165.453753  46.534436  28.973238  30.161936

Processing input length: 216
Overall Evaluation Metrics:
MSE: 1704.5380
RMSE: 41.2861
MAE: 25.8895
MAPE: 27.12%

   step          MSE       RMSE        MAE       MAPE
0     1  1146.777344  33.864101  22.037416  22.920643
1     2  1506.747903  38.816851  24.439762  25.494680
2     3  1687.847158  41.083417  25.765952  27.002229
3     4  1820.139283  42.663090  27.003174  28.380848
4     5  1958.205606  44.251617  27.642539  29.106103
5     6  2107.510575  45.907631  28.448348  29.821019

Processing input length: 240
Overall Evaluation Metrics:
MSE: 1728.1266
RMSE: 41.5707
MAE: 25.8605
MAPE: 27.02%

   step          MSE       RMSE        MAE       MAPE
0     1  1169.579449  34.199115  22.193038  23.310440
1     2  1533.239656  39.156604  24.527527  25.439746
2     3  1725.486195  41.538972  25.814620  26.940210
3     4  1833.587676  42.820412  26.838634  28.237344
4     5  1986.351687  44.568506  27.667153  29.015973
5     6  2120.515035  46.049050  28.122321  29.192261

Processing input length: 264
Overall Evaluation Metrics:
MSE: 1729.2038
RMSE: 41.5837
MAE: 25.9263
MAPE: 27.25%

   step          MSE       RMSE        MAE       MAPE
0     1  1162.642023  34.097537  22.227215  23.179750
1     2  1528.593449  39.097231  24.590066  25.672872
2     3  1721.600406  41.492173  25.987629  27.470727
3     4  1847.931358  42.987572  27.039351  28.561237
4     5  1985.547800  44.559486  27.601274  29.101982
5     6  2128.907725  46.140088  28.111972  29.540201

Processing input length: 288
Overall Evaluation Metrics:
MSE: 1740.1705
RMSE: 41.7154
MAE: 25.9455
MAPE: 27.24%

   step          MSE       RMSE        MAE       MAPE
0     1  1172.230326  34.237849  22.328282  23.526761
1     2  1535.766091  39.188852  24.647504  25.786177
2     3  1724.287072  41.524536  25.927535  27.370643
3     4  1852.409582  43.039628  26.884475  28.149371
4     5  2000.879075  44.731187  27.579581  28.977964
5     6  2155.450641  46.426831  28.305576  29.635730

Processing input length: 312
Overall Evaluation Metrics:
MSE: 1748.8212
RMSE: 41.8189
MAE: 25.9442
MAPE: 27.36%

   step          MSE       RMSE        MAE       MAPE
0     1  1179.390565  34.342256  22.368898  23.501674
1     2  1545.411154  39.311718  24.659516  25.847183
2     3  1730.823508  41.603167  25.806727  27.283469
3     4  1856.648709  43.088847  26.864353  28.492371
4     5  2003.607113  44.761670  27.617328  29.215561
5     6  2177.046055  46.658826  28.348498  29.823119

Processing input length: 336
Overall Evaluation Metrics:
MSE: 1767.0654
RMSE: 42.0365
MAE: 26.0081
MAPE: 27.36%

   step          MSE       RMSE        MAE       MAPE
0     1  1190.365151  34.501669  22.444688  23.628431
1     2  1559.172990  39.486365  24.745742  25.833143
2     3  1743.325817  41.753153  25.865466  27.386331
3     4  1870.893614  43.253828  26.884414  28.379511
4     5  2028.657530  45.040621  27.658445  29.201481
5     6  2209.977340  47.010396  28.449564  29.759599

Processing input length: 360
Overall Evaluation Metrics:
MSE: 1813.3502
RMSE: 42.5834
MAE: 26.1922
MAPE: 27.60%

   step          MSE       RMSE        MAE       MAPE
0     1  1214.706202  34.852636  22.525204  23.793606
1     2  1587.800491  39.847214  24.818946  25.945091
2     3  1779.534225  42.184526  25.959793  27.246273
3     4  1924.120654  43.864800  27.178029  28.892975
4     5  2094.469090  45.765370  27.976624  29.793759
5     6  2279.470400  47.743800  28.694717  29.915714

Processing input length: 384
Overall Evaluation Metrics:
MSE: 1876.2945
RMSE: 43.3162
MAE: 26.5326
MAPE: 27.82%

   step          MSE       RMSE        MAE       MAPE
0     1  1253.336216  35.402489  22.860200  24.388012
1     2  1645.388458  40.563388  25.200272  26.163904
2     3  1838.758946  42.880753  26.327125  27.842176
3     4  1993.413856  44.647663  27.599883  29.123390
4     5  2171.288867  46.597091  28.243551  29.503564
5     6  2355.580488  48.534323  28.964287  29.871930

Processing input length: 408
Overall Evaluation Metrics:
MSE: 1923.6861
RMSE: 43.8598
MAE: 26.8654
MAPE: 27.93%

   step          MSE       RMSE        MAE       MAPE
0     1  1274.606062  35.701625  23.042388  24.465967
1     2  1685.704041  41.057326  25.541609  26.625247
2     3  1883.496815  43.399272  26.680232  27.666063
3     4  2038.803371  45.153110  27.826436  28.967102
4     5  2237.119224  47.298195  28.696318  29.744362
5     6  2422.386910  49.217750  29.405519  30.119503

Processing input length: 432
Overall Evaluation Metrics:
MSE: 1969.4215
RMSE: 44.3782
MAE: 27.1115
MAPE: 27.92%

   step          MSE       RMSE        MAE       MAPE
0     1  1298.617116  36.036330  23.268294  24.406422
1     2  1718.667302  41.456812  25.638836  26.430744
2     3  1930.861004  43.941564  26.979117  27.778777
3     4  2085.840006  45.670997  28.079224  28.842613
4     5  2289.562276  47.849371  28.957043  29.874353
5     6  2492.981428  49.929765  29.746658  30.163476

Processing input length: 456
Overall Evaluation Metrics:
MSE: 1894.4605
RMSE: 43.5254
MAE: 26.9274
MAPE: 27.98%

   step          MSE       RMSE        MAE       MAPE
0     1  1264.968015  35.566389  23.156213  24.350749
1     2  1652.333501  40.648905  25.504075  26.445103
2     3  1858.085688  43.105518  26.743992  27.989781
3     4  2002.117203  44.745024  27.900457  29.046560
4     5  2204.218185  46.949102  28.776862  29.816418
5     6  2385.040383  48.836875  29.482630  30.216758

Processing input length: 480
Overall Evaluation Metrics:
MSE: 1842.4510
RMSE: 42.9238
MAE: 26.7291
MAPE: 28.31%

   step          MSE       RMSE        MAE       MAPE
0     1  1257.523947  35.461584  23.087470  24.961110
1     2  1616.415918  40.204675  25.323669  26.610397
2     3  1772.095518  42.096265  26.394914  27.969531
3     4  1933.834970  43.975391  27.699889  29.379341
4     5  2137.631901  46.234531  28.541039  30.215299
5     6  2337.203824  48.344636  29.327807  30.705733

Processing input length: 504
Overall Evaluation Metrics:
MSE: 1791.0273
RMSE: 42.3205
MAE: 26.3427
MAPE: 28.33%

   step          MSE       RMSE        MAE       MAPE
0     1  1196.260967  34.587006  22.731666  24.706446
1     2  1549.590049  39.364833  24.911869  26.876933
2     3  1743.809106  41.758940  26.195813  28.279447
3     4  1905.411670  43.651021  27.384830  29.438044
4     5  2073.165488  45.532027  28.004695  30.075250
5     6  2277.926480  47.727628  28.827535  30.600878