In [4]:
import sys
!{sys.executable} -m pip install autogluon.timeseries

Collecting autogluon.timeseries
  Downloading autogluon.timeseries-1.1.1-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: joblib<2,>=1.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (1.4.2)
Requirement already satisfied: numpy<1.29,>=1.21 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (1.26.4)
Collecting scipy<1.13,>=1.5.4 (from autogluon.timeseries)
  Downloading scipy-1.12.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: pandas<2.3.0,>=2.0.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (2.1.4)
Collecting torch<2.4,>=2.2 (from autogluon.timeseries)
  Downloading torch-2.3.1-cp39-cp39-manylinux1_x86_64.whl.metadata (26 kB)
Collecting lightning<2.4,>=2.2 (from autogluon.timeseries)
  Downloading lightning-2.3.3-py3-none-any.whl.metadata (35 kB)
Collecting pytorch-lightning<2.4,>=2.2 (from autogluon.timeseries)
  Downloading pytorch_lightning-2.3.3-py3-none-any.whl.metadata (21 kB)
Collecting transformers<4.41.0,>=4.38.0 (from transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries)
  Downloading transformers-4.40.2-py3-none-any.whl.metadata (137 kB)
Collecting accelerate<0.22.0,>=0.21.0 (from autogluon.timeseries)
  Downloading accelerate-0.21.0-py3-none-any.whl.metadata (17 kB)
Collecting gluonts==0.15.1 (from autogluon.timeseries)
  Using cached gluonts-0.15.1-py3-none-any.whl.metadata (9.9 kB)
Requirement already satisfied: networkx<4,>=3.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (3.2.1)
Collecting statsforecast<1.5,>=1.4.0 (from autogluon.timeseries)
  Downloading statsforecast-1.4.0-py3-none-any.whl.metadata (19 kB)
Collecting mlforecast<0.10.1,>=0.10.0 (from autogluon.timeseries)
  Downloading mlforecast-0.10.0-py3-none-any.whl.metadata (11 kB)
Collecting utilsforecast<0.0.11,>=0.0.10 (from autogluon.timeseries)
  Downloading utilsforecast-0.0.10-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: tqdm<5,>=4.38 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.timeseries) (4.66.5)
Collecting orjson~=3.9 (from autogluon.timeseries)
  Downloading orjson-3.10.11-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (50 kB)
Collecting tensorboard<3,>=2.9 (from autogluon.timeseries)
  Downloading tensorboard-2.18.0-py3-none-any.whl.metadata (1.6 kB)
Collecting autogluon.core==1.1.1 (from autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading autogluon.core-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.common==1.1.1 (from autogluon.timeseries)
  Downloading autogluon.common-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.tabular==1.1.1 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading autogluon.tabular-1.1.1-py3-none-any.whl.metadata (13 kB)
Collecting boto3<2,>=1.10 (from autogluon.common==1.1.1->autogluon.timeseries)
  Using cached boto3-1.35.56-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: psutil<6,>=5.7.3 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.common==1.1.1->autogluon.timeseries) (5.9.0)
Requirement already satisfied: setuptools in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.common==1.1.1->autogluon.timeseries) (75.1.0)
Collecting scikit-learn<1.4.1,>=1.3.0 (from autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading scikit_learn-1.4.0-1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: requests in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (2.32.3)
Requirement already satisfied: matplotlib in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (3.9.2)
Collecting ray<2.11,>=2.10.0 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading ray-2.10.0-cp39-cp39-manylinux2014_x86_64.whl.metadata (13 kB)
Collecting hyperopt<0.2.8,>=0.2.7 (from autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached hyperopt-0.2.7-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting autogluon.features==1.1.1 (from autogluon.tabular==1.1.1->autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading autogluon.features-1.1.1-py3-none-any.whl.metadata (11 kB)
Collecting xgboost<2.1,>=1.6 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading xgboost-2.0.3-py3-none-manylinux2014_x86_64.whl.metadata (2.0 kB)
Collecting catboost<1.3,>=1.1 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading catboost-1.2.7-cp39-cp39-manylinux2014_x86_64.whl.metadata (1.2 kB)
Collecting lightgbm<4.4,>=3.3 (from autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Downloading lightgbm-4.3.0-py3-none-manylinux_2_28_x86_64.whl.metadata (19 kB)
Requirement already satisfied: pydantic<3,>=1.7 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from gluonts==0.15.1->autogluon.timeseries) (2.9.2)
Requirement already satisfied: toolz~=0.10 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from gluonts==0.15.1->autogluon.timeseries) (0.12.1)
Requirement already satisfied: typing-extensions~=4.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from gluonts==0.15.1->autogluon.timeseries) (4.11.0)
Requirement already satisfied: packaging>=20.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from accelerate<0.22.0,>=0.21.0->autogluon.timeseries) (24.1)
Requirement already satisfied: pyyaml in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from accelerate<0.22.0,>=0.21.0->autogluon.timeseries) (6.0.2)
Requirement already satisfied: fsspec<2026.0,>=2022.5.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from fsspec[http]<2026.0,>=2022.5.0->lightning<2.4,>=2.2->autogluon.timeseries) (2024.2.0)
Requirement already satisfied: lightning-utilities<2.0,>=0.10.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from lightning<2.4,>=2.2->autogluon.timeseries) (0.11.7)
Requirement already satisfied: torchmetrics<3.0,>=0.7.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from lightning<2.4,>=2.2->autogluon.timeseries) (1.4.2)
Requirement already satisfied: numba in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from mlforecast<0.10.1,>=0.10.0->autogluon.timeseries) (0.60.0)
Collecting window-ops (from mlforecast<0.10.1,>=0.10.0->autogluon.timeseries)
  Using cached window_ops-0.0.15-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.timeseries) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.timeseries) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pandas<2.3.0,>=2.0.0->autogluon.timeseries) (2024.2)
Collecting plotly (from statsforecast<1.5,>=1.4.0->autogluon.timeseries)
  Using cached plotly-5.24.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: statsmodels>=0.13.2 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from statsforecast<1.5,>=1.4.0->autogluon.timeseries) (0.14.3)
Collecting absl-py>=0.4 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Using cached absl_py-2.1.0-py3-none-any.whl.metadata (2.3 kB)
Collecting grpcio>=1.48.2 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Downloading grpcio-1.67.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.9 kB)
Collecting markdown>=2.6.8 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Using cached Markdown-3.7-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: protobuf!=4.24.0,>=3.19.6 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from tensorboard<3,>=2.9->autogluon.timeseries) (5.28.2)
Requirement already satisfied: six>1.9 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from tensorboard<3,>=2.9->autogluon.timeseries) (1.16.0)
Collecting tensorboard-data-server<0.8.0,>=0.7.0 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Using cached tensorboard_data_server-0.7.2-py3-none-manylinux_2_31_x86_64.whl.metadata (1.1 kB)
Collecting werkzeug>=1.0.1 (from tensorboard<3,>=2.9->autogluon.timeseries)
  Downloading werkzeug-3.1.2-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: filelock in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from torch<2.4,>=2.2->autogluon.timeseries) (3.13.1)
Requirement already satisfied: sympy in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from torch<2.4,>=2.2->autogluon.timeseries) (1.12)
Requirement already satisfied: jinja2 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from torch<2.4,>=2.2->autogluon.timeseries) (3.1.3)
Collecting nvidia-cuda-nvrtc-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cuda_nvrtc_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-runtime-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cuda_runtime_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cuda-cupti-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cuda_cupti_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cudnn-cu12==8.9.2.26 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cudnn_cu12-8.9.2.26-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cublas-cu12==12.1.3.1 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cublas_cu12-12.1.3.1-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cufft-cu12==11.0.2.54 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cufft_cu12-11.0.2.54-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-curand-cu12==10.3.2.106 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_curand_cu12-10.3.2.106-py3-none-manylinux1_x86_64.whl.metadata (1.5 kB)
Collecting nvidia-cusolver-cu12==11.4.5.107 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cusolver_cu12-11.4.5.107-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-cusparse-cu12==12.1.0.106 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_cusparse_cu12-12.1.0.106-py3-none-manylinux1_x86_64.whl.metadata (1.6 kB)
Collecting nvidia-nccl-cu12==2.20.5 (from torch<2.4,>=2.2->autogluon.timeseries)
  Using cached nvidia_nccl_cu12-2.20.5-py3-none-manylinux2014_x86_64.whl.metadata (1.8 kB)
Collecting nvidia-nvtx-cu12==12.1.105 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_nvtx_cu12-12.1.105-py3-none-manylinux1_x86_64.whl.metadata (1.7 kB)
Collecting triton==2.3.1 (from torch<2.4,>=2.2->autogluon.timeseries)
  Downloading triton-2.3.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.4 kB)
Collecting nvidia-nvjitlink-cu12 (from nvidia-cusolver-cu12==11.4.5.107->torch<2.4,>=2.2->autogluon.timeseries)
  Downloading nvidia_nvjitlink_cu12-12.6.77-py3-none-manylinux2014_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: huggingface-hub<1.0,>=0.19.3 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (0.25.1)
Requirement already satisfied: regex!=2019.12.17 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (2024.9.11)
Collecting tokenizers<0.20,>=0.19 (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries)
  Downloading tokenizers-0.19.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: safetensors>=0.4.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers<4.41.0,>=4.38.0->transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (0.4.5)
Requirement already satisfied: sentencepiece!=0.1.92,>=0.1.91 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from transformers[sentencepiece]<4.41.0,>=4.38.0->autogluon.timeseries) (0.2.0)
Collecting botocore<1.36.0,>=1.35.56 (from boto3<2,>=1.10->autogluon.common==1.1.1->autogluon.timeseries)
  Using cached botocore-1.35.56-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3<2,>=1.10->autogluon.common==1.1.1->autogluon.timeseries)
  Using cached jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3<2,>=1.10->autogluon.common==1.1.1->autogluon.timeseries)
  Using cached s3transfer-0.10.3-py3-none-any.whl.metadata (1.7 kB)
Collecting graphviz (from catboost<1.3,>=1.1->autogluon.tabular[catboost,lightgbm,xgboost]==1.1.1->autogluon.timeseries)
  Using cached graphviz-0.20.3-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from fsspec[http]<2026.0,>=2022.5.0->lightning<2.4,>=2.2->autogluon.timeseries) (3.10.8)
Collecting future (from hyperopt<0.2.8,>=0.2.7->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached future-1.0.0-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: cloudpickle in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (3.0.0)
Collecting py4j (from hyperopt<0.2.8,>=0.2.7->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: importlib-metadata>=4.4 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard<3,>=2.9->autogluon.timeseries) (7.0.1)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from numba->mlforecast<0.10.1,>=0.10.0->autogluon.timeseries) (0.43.0)
Requirement already satisfied: annotated-types>=0.6.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pydantic<3,>=1.7->gluonts==0.15.1->autogluon.timeseries) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from pydantic<3,>=1.7->gluonts==0.15.1->autogluon.timeseries) (2.23.4)
Requirement already satisfied: click>=7.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (8.1.7)
Collecting jsonschema (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached jsonschema-4.23.0-py3-none-any.whl.metadata (7.9 kB)
Collecting msgpack<2.0.0,>=1.0.0 (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Downloading msgpack-1.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.4 kB)
Requirement already satisfied: aiosignal in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (1.3.1)
Requirement already satisfied: frozenlist in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray<2.11,>=2.10.0->ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (1.4.1)
Requirement already satisfied: tensorboardX>=1.9 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (2.6.2.2)
Requirement already satisfied: pyarrow>=6.0.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (17.0.0)
Collecting aiohttp-cors (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached aiohttp_cors-0.7.0-py3-none-any.whl.metadata (20 kB)
Collecting colorful (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached colorful-0.5.6-py2.py3-none-any.whl.metadata (16 kB)
Collecting py-spy>=0.2.0 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached py_spy-0.4.0-py2.py3-none-manylinux_2_5_x86_64.manylinux1_x86_64.whl.metadata (16 kB)
Collecting opencensus (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached opencensus-0.11.4-py2.py3-none-any.whl.metadata (12 kB)
Collecting prometheus-client>=0.7.1 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached prometheus_client-0.21.0-py3-none-any.whl.metadata (1.8 kB)
Collecting smart-open (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached smart_open-7.0.5-py3-none-any.whl.metadata (24 kB)
Collecting virtualenv!=20.21.1,>=20.0.24 (from ray[default,tune]<2.11,>=2.10.0; extra == "raytune"->autogluon.core[raytune]==1.1.1->autogluon.timeseries)
  Using cached virtualenv-20.27.1-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from scikit-learn<1.4.1,>=1.3.0->autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from statsmodels>=0.13.2->statsforecast<1.5,>=1.4.0->autogluon.timeseries) (0.5.6)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from werkzeug>=1.0.1->tensorboard<3,>=2.9->autogluon.timeseries) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages (from matplotlib->autogluon.core==1.1.1->autogluon.core[raytune]==1.1.1->autogluon.timeseries) (0.12.1)

In [1]:
import torch
num_gpus = torch.cuda.device_count()
print("Number of GPUs available:", num_gpus)

for i in range(num_gpus):
    gpu_name = torch.cuda.get_device_name(i)
    print(f"GPU {i}: {gpu_name}")

Number of GPUs available: 1
GPU 0: NVIDIA A30

In [4]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor
import pandas as pd
import numpy as np

/home/yl2672496l/Yue/anaconda3/envs/llmtime/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Read data

In [5]:
my_data = pd.read_csv('../GD030A_S.csv')

In [6]:
# Define the recover_timestamp function
def recover_timestamp(data):
    # Combine 'date' and 'time' to form a datetime column
    data['datetime'] = pd.to_datetime(data['date'] + ' ' + data['time'].astype(str) + ':00', format='%Y-%m-%d %H:%M')

    # Set 'datetime' as index
    data = data.set_index('datetime')

    # Create a complete range of timestamps with hourly frequency
    full_time_range = pd.date_range(start=data.index.min(), end=data.index.max(), freq='H')

    # Reindex the data to include all timestamps, filling missing rows with NaN
    data_full = data.reindex(full_time_range)

    return data_full

In [7]:
traffic_full = recover_timestamp(my_data)
traffic_full

                           date  time   flow
2019-10-01 00:00:00  2019-10-01   0.0   15.0
2019-10-01 01:00:00  2019-10-01   1.0    9.0
2019-10-01 02:00:00  2019-10-01   2.0    9.0
2019-10-01 03:00:00  2019-10-01   3.0    7.0
2019-10-01 04:00:00  2019-10-01   4.0    9.0
...                         ...   ...    ...
2023-09-30 19:00:00  2023-09-30  19.0  129.0
2023-09-30 20:00:00  2023-09-30  20.0  119.0
2023-09-30 21:00:00  2023-09-30  21.0  106.0
2023-09-30 22:00:00  2023-09-30  22.0   88.0
2023-09-30 23:00:00  2023-09-30  23.0   88.0

[35064 rows x 3 columns]

In [25]:
train_set = traffic_full['2022-06-03 00:00:00':'2023-03-31 23:00:00']
valid_set = traffic_full['2023-04-01 00:00:00':'2023-06-30 23:00:00']
test_set = traffic_full['2023-07-01 00:00:00':]
#train_set = traffic_full[:'2022-02-28 23:00:00']
#valid_set = traffic_full['2022-03-01 00:00:00':'2022-12-31 23:00:00']
#test_set = traffic_full['2023-01-01 00:00:00':]
print('Proportion of train_set : {:.4f}'.format(len(train_set)/len(traffic_full)))
print('Proportion of valid_set : {:.4f}'.format(len(valid_set)/len(traffic_full)))
print('Proportion of test_set : {:.4f}'.format(len(test_set)/len(traffic_full)))

Proportion of train_set : 0.2067
Proportion of valid_set : 0.0623
Proportion of test_set : 0.0630

In [9]:
def create_sequences(data, input_length, forecast_horizon):
    """
    Creates sequences for time series data, excluding any sequences containing NaN values.

    Parameters:
    - data: pandas DataFrame containing the data. Must include the 'flow' column.
    - input_length: int, number of past time steps to include in each input sequence.
    - forecast_horizon: int, number of future steps to predict.

    Returns:
    - sequences_df: pandas DataFrame containing all sequences with input lags and output leads,
                    and an 'item_id' column to separate each sequence, including timestamps.
    """
    sequences = []
    item_id = 0  # To assign unique ID to each sequence

    for i in range(input_length, len(data) - forecast_horizon + 1):
        # Extract the input sequence
        X_seq = data.iloc[i - input_length:i]['flow'].values
        X_timestamps = data.iloc[i - input_length:i].index
        # Extract the target sequence
        y_seq = data.iloc[i:i + forecast_horizon]['flow'].values
        y_timestamps = data.iloc[i:i + forecast_horizon].index

        # Check for NaN values in the input sequence and target sequence
        if not np.isnan(X_seq).any() and not np.isnan(y_seq).any():
            # Convert X_seq and y_seq to DataFrames, including their timestamps
            x_df = pd.DataFrame({'target': X_seq, 'timestamp': X_timestamps})
            y_df = pd.DataFrame({'target': y_seq, 'timestamp': y_timestamps})

            # Concatenate X_df and y_df
            seq_df = pd.concat([x_df, y_df], ignore_index=True)

            # Add 'item_id' column
            seq_df['item_id'] = str(item_id)
            item_id += 1  # Increment item_id

            # Append to list
            sequences.append(seq_df)
        else:
            # Optionally, log or count the skipped sequences
            pass  # Simply skip sequences with NaNs

    # Concatenate all sequences into one DataFrame
    sequences_df = pd.concat(sequences)
    sequences_df['item_id'] = sequences_df['item_id'].astype('str')
    sequences_df['target'] = sequences_df['target'].astype('float32')

    return sequences_df

In [10]:
input_lengths = [24 * i for i in range(1, 22)]
prediction_length = 6

In [26]:
from collections import defaultdict
data_dict = defaultdict(dict)

for length in input_lengths:
    print(f"Processing input length: {length}")

    # Create sequences with forecast_horizon=6
    test = create_sequences(test_set, length, forecast_horizon=6)

    # Store in the dictionary
    data_dict[length]['test'] = test

    # Print shapes and ensure no NaNs
    print(f"  test shape: {test.index.max()+1}, {len(test.item_id.unique())}\n")

Processing input length: 24
  test shape: 30, 1719

Processing input length: 48
  test shape: 54, 1604

Processing input length: 72
  test shape: 78, 1508

Processing input length: 96
  test shape: 102, 1412

Processing input length: 120
  test shape: 126, 1316

Processing input length: 144
  test shape: 150, 1220

Processing input length: 168
  test shape: 174, 1124

Processing input length: 192
  test shape: 198, 1028

Processing input length: 216
  test shape: 222, 932

Processing input length: 240
  test shape: 246, 836

Processing input length: 264
  test shape: 270, 740

Processing input length: 288
  test shape: 294, 660

Processing input length: 312
  test shape: 318, 588

Processing input length: 336
  test shape: 342, 516

Processing input length: 360
  test shape: 366, 444

Processing input length: 384
  test shape: 390, 390

Processing input length: 408
  test shape: 414, 342

Processing input length: 432
  test shape: 438, 311

Processing input length: 456
  test shape: 462, 287

Processing input length: 480
  test shape: 486, 263

Processing input length: 504
  test shape: 510, 239

# Zero-shot

In [27]:
def chronos_zero_shot(input_lengths, prediction_length, model_type):
    results_dict = defaultdict(dict)

    for length in input_lengths:
        print(f"Processing input length: {length}")

        # prepare the data
        test_data = TimeSeriesDataFrame(data_dict[length]['test'])
        test_data_ready, test_data = test_data.train_test_split(prediction_length)

        predictor = TimeSeriesPredictor(prediction_length=prediction_length).fit(test_data_ready, presets=model_type)
        predictions = predictor.predict(test_data_ready)

        ground_truth_df = test_data.groupby(level='item_id').tail(6)
        predicted_df = predictions[['mean']]

        results_dict[length]['Predicted_Results'] = predicted_df
        results_dict[length]['Gound_Truth'] = ground_truth_df

    return results_dict

In [24]:
torch.cuda.empty_cache()

In [28]:
results_dict1_short = chronos_zero_shot(input_lengths, prediction_length, "chronos_tiny")
results_dict2_short = chronos_zero_shot(input_lengths, prediction_length, "chronos_mini")
results_dict3_short = chronos_zero_shot(input_lengths, prediction_length, "chronos_small")
results_dict4_short = chronos_zero_shot(input_lengths, prediction_length, "chronos_base")
results_dict5_short = chronos_zero_shot(input_lengths, prediction_length, "chronos_large")

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105236'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.19 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 41256 rows, 1719 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:52:36
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']

Processing input length: 24

Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105243'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.19 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 76992 rows, 1604 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:52:43

Processing input length: 48

Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105250'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.58 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.19 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 72

Inferred time series frequency: 'H'
Provided train_data has 108576 rows, 1508 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:52:50
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105257'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.18 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 135552 rows, 1412 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'

Processing input length: 96

	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:52:57
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105303'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.63 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.18 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 157920 rows, 1316 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

Processing input length: 120

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:03
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105309'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.52 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.18 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 175680 rows, 1220 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.

Processing input length: 144

===================================================

Starting training. Start time is 2024-11-12 10:53:10
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105315'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.18 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 188832 rows, 1124 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

Processing input length: 168

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:16
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105321'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.17 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 197376 rows, 1028 time series. Median time series length is 192 (min=192, max=192).

Processing input length: 192

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:22
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105327'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.17 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 201312 rows, 932 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:

Processing input length: 216

	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:27
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105333'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.17 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 200640 rows, 836 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

Processing input length: 240

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:33
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.01 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105339'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.16 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 195360 rows, 740 time series. Median time series length is 264 (min=264, max=264).

Processing input length: 264

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:39
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105344'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.16 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 190080 rows, 660 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

Processing input length: 288

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:44
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105349'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.16 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 183456 rows, 588 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

Processing input length: 312

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:49
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105354'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.50 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.16 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'

Processing input length: 336

Provided train_data has 173376 rows, 516 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:54
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105359'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.15 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 159840 rows, 444 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

Processing input length: 360

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:53:59
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105403'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.15 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 149760 rows, 390 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

Processing input length: 384

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:03
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105407'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.15 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 139536 rows, 342 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

Processing input length: 408

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:07
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105411'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.15 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 134352 rows, 311 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

Processing input length: 432

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:11
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105415'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.14 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 130872 rows, 287 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

Processing input length: 456

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:15
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105418'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.14 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 126240 rows, 263 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:18
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime

Processing input length: 480

Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105422'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.52 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.14 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 120456 rows, 239 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

Processing input length: 504

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:22
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105425'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.14 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 41256 rows, 1719 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:25
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]

Processing input length: 24

Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105432'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.14 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 76992 rows, 1604 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:33
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].

Processing input length: 48

	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105439'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.14 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 108576 rows, 1508 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:40
Models that will be trained: ['Chronos[mini]']

Processing input length: 72

Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105448'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.13 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 135552 rows, 1412 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'

Processing input length: 96

	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:48
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105456'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.13 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 157920 rows, 1316 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

Processing input length: 120

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:54:56
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105504'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.13 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 175680 rows, 1220 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

Processing input length: 144

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:55:05
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105514'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.12 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'

Processing input length: 168

Provided train_data has 188832 rows, 1124 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:55:14
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105523'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.12 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 197376 rows, 1028 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:

Processing input length: 192

	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:55:23
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105532'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.12 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 201312 rows, 932 time series. Median time series length is 216 (min=216, max=216).

Processing input length: 216

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:55:32
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105541'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.55 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.12 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 200640 rows, 836 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

Processing input length: 240

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:55:41
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105550'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.58 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.11 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 195360 rows, 740 time series. Median time series length is 264 (min=264, max=264).

Processing input length: 264

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:55:50
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105559'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.55 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.11 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 190080 rows, 660 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

Processing input length: 288

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:55:59
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105607'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.11 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'

Processing input length: 312

Provided train_data has 183456 rows, 588 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:56:07
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105615'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.47 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.10 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 173376 rows, 516 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

Processing input length: 336

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:56:15
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105622'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.58 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.10 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 159840 rows, 444 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

Processing input length: 360

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:56:22
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105629'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.46 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.10 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 149760 rows, 390 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.

Processing input length: 384

===================================================

Starting training. Start time is 2024-11-12 10:56:29
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105635'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.55 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.10 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 139536 rows, 342 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:56:35
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]

Processing input length: 408

Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105641'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.09 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 134352 rows, 311 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:56:41
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].

Processing input length: 432

	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105647'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.09 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 130872 rows, 287 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:56:47
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime

Processing input length: 456

Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105652'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.09 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 126240 rows, 263 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Processing input length: 480

Starting training. Start time is 2024-11-12 10:56:52
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105657'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.09 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 120456 rows, 239 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

Processing input length: 504

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:56:58
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105703'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.09 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 41256 rows, 1719 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:57:03
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]

Processing input length: 24

Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105712'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.09 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 76992 rows, 1604 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:57:12

Processing input length: 48

Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105720'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.08 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 108576 rows, 1508 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:57:20
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime

Processing input length: 72

Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105728'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.08 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 135552 rows, 1412 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.

Processing input length: 96

===================================================

Starting training. Start time is 2024-11-12 10:57:29
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105736'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.08 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 157920 rows, 1316 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

Processing input length: 120

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:57:36
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105744'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.64 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.08 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 175680 rows, 1220 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

Processing input length: 144

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:57:44
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105752'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.66 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.07 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 188832 rows, 1124 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

Processing input length: 168

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:57:52
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105801'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.07 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'

Processing input length: 192

Provided train_data has 197376 rows, 1028 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:01
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105809'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.07 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 216

Inferred time series frequency: 'H'
Provided train_data has 201312 rows, 932 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:09
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105817'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.58 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.06 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 200640 rows, 836 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:

Processing input length: 240

	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:17
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105825'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.53 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.06 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'

Processing input length: 264

Provided train_data has 195360 rows, 740 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:25
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105833'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.06 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 190080 rows, 660 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

Processing input length: 288

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:33
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105840'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.05 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 183456 rows, 588 time series. Median time series length is 312 (min=312, max=312).

Processing input length: 312

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:40
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105847'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.05 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 173376 rows, 516 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

Processing input length: 336

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:48
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105854'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.05 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 159840 rows, 444 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

Processing input length: 360

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:58:54
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105900'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.55 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.05 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 149760 rows, 390 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

Processing input length: 384

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:01
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105907'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.04 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 139536 rows, 342 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

Processing input length: 408

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:07
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105912'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.57 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.04 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 134352 rows, 311 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

Processing input length: 432

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:13
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.01 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105918'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.04 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 130872 rows, 287 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

Processing input length: 456

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:18
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105923'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.04 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 126240 rows, 263 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

Processing input length: 480

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:24
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105928'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.53 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.04 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 120456 rows, 239 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

Processing input length: 504

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:29
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105933'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.53 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.03 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 41256 rows, 1719 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:33
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]

Processing input length: 24

Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_105949'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.03 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 76992 rows, 1604 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 10:59:49

Processing input length: 48

Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110004'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.03 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 108576 rows, 1508 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Processing input length: 72

Starting training. Start time is 2024-11-12 11:00:04
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110019'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.03 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 135552 rows, 1412 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:00:19

Processing input length: 96

Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.01 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110034'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.52 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.02 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 157920 rows, 1316 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

Processing input length: 120

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:00:34
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110050'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.52 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.02 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 175680 rows, 1220 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

Processing input length: 144

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:00:50
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110107'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.02 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 188832 rows, 1124 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

Processing input length: 168

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:01:07
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110126'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.01 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 197376 rows, 1028 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:

Processing input length: 192

	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:01:26
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110144'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.65 GB / 125.71 GB (88.0%)
Disk Space Avail:   391.01 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 201312 rows, 932 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:
	target: 'target'

Processing input length: 216

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:01:44
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110202'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.53 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.01 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 200640 rows, 836 time series. Median time series length is 240 (min=240, max=240).

Processing input length: 240

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:02:02
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110221'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.52 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.00 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 195360 rows, 740 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

Processing input length: 264

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:02:21
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110239'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   391.00 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 190080 rows, 660 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

Processing input length: 288

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:02:39
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110257'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.50 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.99 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 183456 rows, 588 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:

Processing input length: 312

	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:02:57
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110314'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.55 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.99 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 173376 rows, 516 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

Processing input length: 336

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:03:14
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110331'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.99 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 159840 rows, 444 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

Processing input length: 360

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:03:31
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110347'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.98 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 149760 rows, 390 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

Processing input length: 384

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:03:47
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110401'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.53 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.98 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 139536 rows, 342 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'

Processing input length: 408

	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:04:01
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110415'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.56 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.98 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 134352 rows, 311 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

Processing input length: 432

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:04:15
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110428'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.49 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.98 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 130872 rows, 287 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:04:28
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].

Processing input length: 456

	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110440'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.51 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.97 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 126240 rows, 263 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.

Processing input length: 480

===================================================

Starting training. Start time is 2024-11-12 11:04:40
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110452'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.49 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.97 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 120456 rows, 239 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:04:52

Processing input length: 504

Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110504'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.97 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 41256 rows, 1719 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:05:04
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.01 s
Best model: Chronos[large]

Processing input length: 24

Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110549'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.97 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 76992 rows, 1604 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Processing input length: 48

Starting training. Start time is 2024-11-12 11:05:50
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110633'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.53 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.97 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 108576 rows, 1508 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Processing input length: 72

Starting training. Start time is 2024-11-12 11:06:33
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110716'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.53 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.96 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 135552 rows, 1412 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

Processing input length: 96

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:07:16
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110759'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.52 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.96 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 157920 rows, 1316 time series. Median time series length is 120 (min=120, max=120).

Processing input length: 120

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:08:00
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110846'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.54 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.96 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 175680 rows, 1220 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

Processing input length: 144

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:08:46
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.01 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_110935'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.49 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.95 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 188832 rows, 1124 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

Processing input length: 168

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:09:35
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111026'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.50 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.95 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 197376 rows, 1028 time series. Median time series length is 192 (min=192, max=192).

Processing input length: 192

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:10:27
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111119'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.48 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.95 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 201312 rows, 932 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:

Processing input length: 216

	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:11:19
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111211'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.46 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.94 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 200640 rows, 836 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

Processing input length: 240

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:12:12
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.01 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111304'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.46 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.94 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 195360 rows, 740 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

Processing input length: 264

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:13:04
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111352'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.94 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 190080 rows, 660 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

Processing input length: 288

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:13:52
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111439'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.62 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.94 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 183456 rows, 588 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

Processing input length: 312

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:14:40
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111526'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.93 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 173376 rows, 516 time series. Median time series length is 336 (min=336, max=336).

Processing input length: 336

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:15:26
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111611'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.58 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.93 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 159840 rows, 444 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

Processing input length: 360

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:16:11
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111651'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.71 GB / 125.71 GB (88.1%)
Disk Space Avail:   390.93 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 149760 rows, 390 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

Processing input length: 384

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:16:51
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111729'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.92 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 139536 rows, 342 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Processing input length: 408

Starting training. Start time is 2024-11-12 11:17:29
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111804'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.61 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.92 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 134352 rows, 311 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

Processing input length: 432

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:18:04
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111838'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.60 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.92 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 130872 rows, 287 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Processing input length: 456

Starting training. Start time is 2024-11-12 11:18:38
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111912'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.59 GB / 125.71 GB (88.0%)
Disk Space Avail:   390.92 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 126240 rows, 263 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'

Processing input length: 480

	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:19:12
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241112_111944'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       110.51 GB / 125.71 GB (87.9%)
Disk Space Avail:   390.92 GB / 1003.85 GB (38.9%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 120456 rows, 239 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-12 11:19:44

Processing input length: 504

Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

In [18]:
results_dict1 = chronos_zero_shot(input_lengths, prediction_length, "chronos_tiny")
results_dict2 = chronos_zero_shot(input_lengths, prediction_length, "chronos_mini")
results_dict3 = chronos_zero_shot(input_lengths, prediction_length, "chronos_small")
results_dict4 = chronos_zero_shot(input_lengths, prediction_length, "chronos_base")
results_dict5 = chronos_zero_shot(input_lengths, prediction_length, "chronos_large")

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_130849'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.19 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.84 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 141960 rows, 5915 time series. Median time series length is 24 (min=24, max=24).

Processing input length: 24

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:08:49
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.01 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_130907'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.18 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.83 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 48

Inferred time series frequency: 'H'
Provided train_data has 274944 rows, 5728 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:09:07
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_130922'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.07 GB / 125.71 GB (91.5%)
Disk Space Avail:   392.83 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 72

Inferred time series frequency: 'H'
Provided train_data has 400320 rows, 5560 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:09:23
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_130938'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.18 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.82 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 96

Inferred time series frequency: 'H'
Provided train_data has 517632 rows, 5392 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:09:38
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.01 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 120

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_130954'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.18 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.81 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 626880 rows, 5224 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:09:54
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 144

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131011'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.21 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.80 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 728064 rows, 5056 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:10:11
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 168

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131028'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.19 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.79 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 821184 rows, 4888 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:10:28
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 192

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131044'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.22 GB / 125.71 GB (91.7%)
Disk Space Avail:   392.78 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 906240 rows, 4720 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:10:44
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 216

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131100'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.20 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.77 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 983232 rows, 4552 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:11:00
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 240

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131118'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.08 GB / 125.71 GB (91.5%)
Disk Space Avail:   392.75 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1052160 rows, 4384 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:11:19
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 264

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131139'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.18 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.74 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1113024 rows, 4216 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:11:39
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 288

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131159'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.14 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.72 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1165824 rows, 4048 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:11:59
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 312

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131219'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.13 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.71 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1210560 rows, 3880 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:12:19
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 336

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131239'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.17 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.69 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1247232 rows, 3712 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:12:40
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 360

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131300'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.18 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.68 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1275840 rows, 3544 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:13:00
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 384

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131320'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.09 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.66 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1303296 rows, 3394 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:13:21
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 408

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131341'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.13 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.64 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1326000 rows, 3250 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:13:42
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 432

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131403'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       115.13 GB / 125.71 GB (91.6%)
Disk Space Avail:   392.63 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1349136 rows, 3123 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:14:03
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.02 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 456

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131424'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.73 GB / 125.71 GB (91.3%)
Disk Space Avail:   392.61 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1369368 rows, 3003 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:14:24
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 480

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131445'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.78 GB / 125.71 GB (91.3%)
Disk Space Avail:   392.59 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1383840 rows, 2883 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:14:46
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]

Processing input length: 504

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131507'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.77 GB / 125.71 GB (91.3%)
Disk Space Avail:   392.58 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_tiny

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'tiny'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1401624 rows, 2781 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:15:08
Models that will be trained: ['Chronos[tiny]']
Training timeseries model Chronos[tiny].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[tiny]']
Total runtime: 0.03 s
Best model: Chronos[tiny]
Model not specified in predict, will default to the model with the best validation score: Chronos[tiny]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131528'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.40 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.56 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 141960 rows, 5915 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.

Processing input length: 24

===================================================

Starting training. Start time is 2024-11-11 13:15:28
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131544'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.57 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.55 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 48

Inferred time series frequency: 'H'
Provided train_data has 274944 rows, 5728 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:15:45
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131603'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.51 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.55 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 72

Inferred time series frequency: 'H'
Provided train_data has 400320 rows, 5560 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:16:03
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.01 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131620'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.54 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.54 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 96

Inferred time series frequency: 'H'
Provided train_data has 517632 rows, 5392 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:16:20
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...

Processing input length: 120

AutoGluon will save models to 'AutogluonModels/ag-20241111_131641'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.52 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.53 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 626880 rows, 5224 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:16:41
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 144

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131704'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.54 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.52 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 728064 rows, 5056 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:17:04
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 168

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131730'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.48 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.51 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 821184 rows, 4888 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:17:30
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 192

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131758'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.53 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.50 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 906240 rows, 4720 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:17:58
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 216

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131828'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.51 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.49 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 983232 rows, 4552 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:18:29
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 240

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131900'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.50 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.47 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1052160 rows, 4384 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:19:00
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 264

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_131933'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.41 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.46 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1113024 rows, 4216 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:19:33
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 288

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132007'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.45 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.44 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1165824 rows, 4048 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:20:08
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 312

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132043'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.50 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.43 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1210560 rows, 3880 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:20:43
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 336

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132119'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.44 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.41 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1247232 rows, 3712 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:21:19
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 360

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132155'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.46 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.40 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1275840 rows, 3544 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:21:55
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 384

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132232'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.48 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.38 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1303296 rows, 3394 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:22:32
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.02 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 408

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132310'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.43 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.36 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1326000 rows, 3250 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:23:10
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.04 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 432

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132348'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.41 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.35 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1349136 rows, 3123 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:23:49
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 456

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132427'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.45 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.33 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1369368 rows, 3003 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:24:28
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 480

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132506'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.46 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.31 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1383840 rows, 2883 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:25:07
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]

Processing input length: 504

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132545'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.45 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.30 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_mini

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'mini'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1401624 rows, 2781 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:25:46
Models that will be trained: ['Chronos[mini]']
Training timeseries model Chronos[mini].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[mini]']
Total runtime: 0.03 s
Best model: Chronos[mini]
Model not specified in predict, will default to the model with the best validation score: Chronos[mini]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132624'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.51 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.28 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 141960 rows, 5915 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:26:24
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.01 s
Best model: Chronos[small]

Processing input length: 24

Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132646'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.48 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.27 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'

Processing input length: 48

Provided train_data has 274944 rows, 5728 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:26:47
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.01 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132704'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.48 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.27 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 72

Inferred time series frequency: 'H'
Provided train_data has 400320 rows, 5560 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:27:04
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.01 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132725'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.51 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.26 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 96

Inferred time series frequency: 'H'
Provided train_data has 517632 rows, 5392 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:27:25
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 120

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132745'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.52 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.25 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 626880 rows, 5224 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:27:46
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 144

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132806'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.43 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.23 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 728064 rows, 5056 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:28:07
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 168

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132830'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.49 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.22 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 821184 rows, 4888 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:28:30
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 192

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132855'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.49 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.21 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 906240 rows, 4720 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:28:55
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 216

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132921'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.48 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.20 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 983232 rows, 4552 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:29:21
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 240

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_132948'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.33 GB / 125.71 GB (90.9%)
Disk Space Avail:   392.17 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1052160 rows, 4384 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:29:48
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 264

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133017'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.40 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.17 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1113024 rows, 4216 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:30:17
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 288

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133047'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.44 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.15 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1165824 rows, 4048 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:30:48
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 312

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133118'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.44 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.14 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1210560 rows, 3880 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:31:19
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 336

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133150'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.41 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.12 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1247232 rows, 3712 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:31:50
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 360

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133221'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.47 GB / 125.71 GB (91.1%)
Disk Space Avail:   392.11 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1275840 rows, 3544 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:32:22
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 384

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133253'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.41 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.09 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1303296 rows, 3394 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:32:54
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 408

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133327'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.41 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.07 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1326000 rows, 3250 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:33:27
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 432

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133400'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.42 GB / 125.71 GB (91.0%)
Disk Space Avail:   392.06 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1349136 rows, 3123 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:34:01
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.02 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 456

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133441'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.11 GB / 125.71 GB (90.8%)
Disk Space Avail:   392.04 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1369368 rows, 3003 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:34:42
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 480

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133526'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.20 GB / 125.71 GB (90.8%)
Disk Space Avail:   392.02 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1383840 rows, 2883 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:35:26
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]

Processing input length: 504

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133609'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.18 GB / 125.71 GB (90.8%)
Disk Space Avail:   392.01 GB / 1003.85 GB (39.1%)
===================================================
Setting presets to: chronos_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1401624 rows, 2781 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:36:10
Models that will be trained: ['Chronos[small]']
Training timeseries model Chronos[small].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[small]']
Total runtime: 0.03 s
Best model: Chronos[small]
Model not specified in predict, will default to the model with the best validation score: Chronos[small]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133652'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.24 GB / 125.71 GB (90.9%)
Disk Space Avail:   391.99 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 141960 rows, 5915 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

Processing input length: 24

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:36:52
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.01 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133734'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.21 GB / 125.71 GB (90.9%)
Disk Space Avail:   391.98 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 48

Inferred time series frequency: 'H'
Provided train_data has 274944 rows, 5728 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:37:35
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133817'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.10 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.98 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Processing input length: 72

Inferred time series frequency: 'H'
Provided train_data has 400320 rows, 5560 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:38:17
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133904'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.23 GB / 125.71 GB (90.9%)
Disk Space Avail:   391.97 GB / 1003.85 GB (39.0%)
===================================================

Processing input length: 96

Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 517632 rows, 5392 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:39:04
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 120

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_133957'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.22 GB / 125.71 GB (90.9%)
Disk Space Avail:   391.96 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 626880 rows, 5224 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:39:58
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 144

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_134057'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.20 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.95 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 728064 rows, 5056 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:40:57
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 168

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_134206'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.18 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.94 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 821184 rows, 4888 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:42:07
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 192

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_134320'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.14 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.93 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 906240 rows, 4720 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:43:20
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 216

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_134439'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.09 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.92 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 983232 rows, 4552 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:44:40
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 240

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_134605'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.16 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.90 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1052160 rows, 4384 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:46:06
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 264

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_134737'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.14 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.89 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1113024 rows, 4216 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:47:38
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 288

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_134915'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.12 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.87 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1165824 rows, 4048 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:49:15
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 312

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_135056'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.07 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.86 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1210560 rows, 3880 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:50:56
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 336

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_135241'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.09 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.84 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1247232 rows, 3712 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:52:41
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 360

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_135429'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.03 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.83 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1275840 rows, 3544 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:54:29
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 384

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_135619'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.08 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.81 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1303296 rows, 3394 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:56:19
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 408

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_135811'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.07 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.79 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1326000 rows, 3250 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 13:58:11
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 432

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_140005'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.90 GB / 125.71 GB (90.6%)
Disk Space Avail:   391.78 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1349136 rows, 3123 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:00:05
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 456

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_140159'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.02 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.75 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1369368 rows, 3003 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:02:00
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.02 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 480

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_140356'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.04 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.73 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1383840 rows, 2883 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:03:57
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]

Processing input length: 504

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_140554'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.99 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.72 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1401624 rows, 2781 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:05:55
Models that will be trained: ['Chronos[base]']
Training timeseries model Chronos[base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[base]']
Total runtime: 0.03 s
Best model: Chronos[base]
Model not specified in predict, will default to the model with the best validation score: Chronos[base]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_140750'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.10 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.70 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 141960 rows, 5915 time series. Median time series length is 24 (min=24, max=24).

Provided data contains following columns:
	target: 'target'

Processing input length: 24

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:07:50
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_141010'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.02 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.69 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 274944 rows, 5728 time series. Median time series length is 48 (min=48, max=48).

Provided data contains following columns:

Processing input length: 48

	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:10:10
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.01 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_141225'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.08 GB / 125.71 GB (90.8%)
Disk Space Avail:   391.69 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'

Processing input length: 72

Provided train_data has 400320 rows, 5560 time series. Median time series length is 72 (min=72, max=72).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:12:25
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]
Beginning AutoGluon training...

Processing input length: 96

AutoGluon will save models to 'AutogluonModels/ag-20241111_141447'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.08 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.68 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 517632 rows, 5392 time series. Median time series length is 96 (min=96, max=96).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:14:47
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 120

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_141720'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.05 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.67 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 626880 rows, 5224 time series. Median time series length is 120 (min=120, max=120).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:17:20
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 144

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_142010'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       114.02 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.66 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 728064 rows, 5056 time series. Median time series length is 144 (min=144, max=144).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:20:11
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 168

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_142321'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.98 GB / 125.71 GB (90.7%)
Disk Space Avail:   391.65 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 821184 rows, 4888 time series. Median time series length is 168 (min=168, max=168).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:23:21
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 192

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_142647'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.95 GB / 125.71 GB (90.6%)
Disk Space Avail:   391.64 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 906240 rows, 4720 time series. Median time series length is 192 (min=192, max=192).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:26:47
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 216

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_143034'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.91 GB / 125.71 GB (90.6%)
Disk Space Avail:   391.62 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 983232 rows, 4552 time series. Median time series length is 216 (min=216, max=216).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:30:35
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 240

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_143434'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.85 GB / 125.71 GB (90.6%)
Disk Space Avail:   391.61 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1052160 rows, 4384 time series. Median time series length is 240 (min=240, max=240).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:34:34
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 264

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_143850'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.88 GB / 125.71 GB (90.6%)
Disk Space Avail:   391.59 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1113024 rows, 4216 time series. Median time series length is 264 (min=264, max=264).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:38:51
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 288

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_144332'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.80 GB / 125.71 GB (90.5%)
Disk Space Avail:   391.57 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1165824 rows, 4048 time series. Median time series length is 288 (min=288, max=288).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:43:32
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 312

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_144826'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.82 GB / 125.71 GB (90.5%)
Disk Space Avail:   391.55 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1210560 rows, 3880 time series. Median time series length is 312 (min=312, max=312).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:48:26
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 336

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_145329'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.83 GB / 125.71 GB (90.6%)
Disk Space Avail:   391.54 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1247232 rows, 3712 time series. Median time series length is 336 (min=336, max=336).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:53:29
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 360

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_145856'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.75 GB / 125.71 GB (90.5%)
Disk Space Avail:   391.52 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1275840 rows, 3544 time series. Median time series length is 360 (min=360, max=360).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 14:58:56
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.02 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 384

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_150445'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.69 GB / 125.71 GB (90.4%)
Disk Space Avail:   391.50 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1303296 rows, 3394 time series. Median time series length is 384 (min=384, max=384).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 15:04:46
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 408

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_151043'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.65 GB / 125.71 GB (90.4%)
Disk Space Avail:   391.48 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1326000 rows, 3250 time series. Median time series length is 408 (min=408, max=408).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 15:10:44
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 432

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_151647'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.60 GB / 125.71 GB (90.4%)
Disk Space Avail:   391.46 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1349136 rows, 3123 time series. Median time series length is 432 (min=432, max=432).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 15:16:47
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.04 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 456

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_152254'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.50 GB / 125.71 GB (90.3%)
Disk Space Avail:   391.44 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1369368 rows, 3003 time series. Median time series length is 456 (min=456, max=456).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 15:22:55
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 480

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_152911'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.56 GB / 125.71 GB (90.3%)
Disk Space Avail:   391.43 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1383840 rows, 2883 time series. Median time series length is 480 (min=480, max=480).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 15:29:11
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.03 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

Processing input length: 504

Beginning AutoGluon training...
AutoGluon will save models to 'AutogluonModels/ag-20241111_153527'
=================== System Info ===================
AutoGluon Version:  1.1.1
Python Version:     3.9.19
Operating System:   Linux
Platform Machine:   x86_64
Platform Version:   #18-Ubuntu SMP Fri Oct  4 19:12:19 UTC 2024
CPU Count:          16
GPU Count:          1
Memory Avail:       113.41 GB / 125.71 GB (90.2%)
Disk Space Avail:   391.41 GB / 1003.85 GB (39.0%)
===================================================
Setting presets to: chronos_large

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'batch_size': 8, 'model_path': 'large'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 6,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: 'H'
Provided train_data has 1401624 rows, 2781 time series. Median time series length is 504 (min=504, max=504).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2024-11-11 15:35:28
Models that will be trained: ['Chronos[large]']
Training timeseries model Chronos[large].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[large]']
Total runtime: 0.04 s
Best model: Chronos[large]
Model not specified in predict, will default to the model with the best validation score: Chronos[large]

In [14]:
def cal_metrics(df_true, df_pred):
    df_merged = pd.merge(df_true, df_pred, on=['item_id', 'timestamp'], how='inner')

    # Step 3: Assign prediction step numbers (1 to 6) within each 'item_id'
    df_merged['step'] = df_merged.groupby('item_id').cumcount() + 1

    # Step 4: Calculate error metrics
    df_merged['error'] = df_merged['mean'] - df_merged['target']
    df_merged['abs_error'] = df_merged['error'].abs()
    df_merged['squared_error'] = df_merged['error'] ** 2

    # Handle division by zero in MAPE calculation by adding a very small number (epsilon)
    epsilon = 1e-10
    df_merged['abs_percentage_error'] = df_merged['abs_error'] / (df_merged['target'].abs() + epsilon)

    # Step 5: Calculate overall metrics
    overall_mse = df_merged['squared_error'].mean()
    overall_rmse = np.sqrt(overall_mse)
    overall_mae = df_merged['abs_error'].mean()
    overall_mape = df_merged['abs_percentage_error'].mean() * 100

    print("Overall Evaluation Metrics:")
    print(f"MSE: {overall_mse:.4f}")
    print(f"RMSE: {overall_rmse:.4f}")
    print(f"MAE: {overall_mae:.4f}")
    print(f"MAPE: {overall_mape:.2f}%")

    # Step 6: Calculate metrics for each prediction step
    metrics_by_step = df_merged.groupby('step').agg({
      'squared_error': 'mean',
      'abs_error': 'mean',
      'abs_percentage_error': 'mean'
    }).reset_index()

    metrics_by_step['MSE'] = metrics_by_step['squared_error']
    metrics_by_step['RMSE'] = np.sqrt(metrics_by_step['squared_error'])
    metrics_by_step['MAE'] = metrics_by_step['abs_error']
    metrics_by_step['MAPE'] = metrics_by_step['abs_percentage_error'] * 100

    # Select relevant columns and round for better readability
    metrics_by_step = metrics_by_step[['step', 'MSE', 'RMSE', 'MAE', 'MAPE']]

    return metrics_by_step

In [15]:
def metrics_results(results_dict):
    for length in input_lengths:
        print(f"Processing input length: {length}")
    
        predict = results_dict[length]['Predicted_Results']
        truth = results_dict[length]['Gound_Truth']
        evaluation_df = cal_metrics(predict, truth)
        display(evaluation_df)

In [29]:
metrics_results(results_dict1_short)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 1168.9452
RMSE: 34.1898
MAE: 26.1718
MAPE: 23.07%

   step          MSE       RMSE        MAE       MAPE
0     1   714.890348  26.737433  20.520652  17.792879
1     2  1031.789429  32.121479  24.310202  21.166429
2     3  1186.666493  34.448026  26.428506  22.870633
3     4  1276.404827  35.726808  27.531757  24.288234
4     5  1357.730214  36.847391  28.378794  25.212371
5     6  1446.189613  38.028800  29.861015  27.076341

Processing input length: 48
Overall Evaluation Metrics:
MSE: 909.5197
RMSE: 30.1582
MAE: 22.7534
MAPE: 19.67%

   step          MSE       RMSE        MAE       MAPE
0     1   610.971988  24.717848  18.873733  16.524192
1     2   796.393599  28.220446  21.340644  18.632875
2     3   885.612524  29.759243  22.782911  19.795225
3     4   973.045340  31.193675  23.590603  20.345880
4     5  1062.585968  32.597331  24.461813  20.960492
5     6  1128.509033  33.593289  25.470463  21.790994

Processing input length: 72
Overall Evaluation Metrics:
MSE: 861.9512
RMSE: 29.3590
MAE: 21.8325
MAPE: 18.43%

   step          MSE       RMSE        MAE       MAPE
0     1   573.721920  23.952493  18.209941  15.479401
1     2   773.017486  27.803192  20.902339  17.771452
2     3   866.425882  29.435113  21.866977  18.546894
3     4   939.712992  30.654738  22.797478  19.118429
4     5   990.251269  31.468258  23.427548  19.668296
5     6  1028.577793  32.071448  23.790896  20.007567

Processing input length: 96
Overall Evaluation Metrics:
MSE: 765.9914
RMSE: 27.6765
MAE: 20.9540
MAPE: 17.87%

   step         MSE       RMSE        MAE       MAPE
0     1  542.783600  23.297717  17.849670  15.165166
1     2  702.391278  26.502665  20.233715  17.408834
2     3  769.817588  27.745587  21.195112  18.120964
3     4  813.192093  28.516523  21.691719  18.440663
4     5  861.025836  29.343242  22.086046  18.815839
5     6  906.737732  30.112086  22.667645  19.246531

Processing input length: 120
Overall Evaluation Metrics:
MSE: 712.0625
RMSE: 26.6845
MAE: 19.9542
MAPE: 17.02%

   step         MSE       RMSE        MAE       MAPE
0     1  520.988856  22.825180  17.459515  14.813566
1     2  656.416341  25.620623  19.462881  16.753323
2     3  701.596906  26.487675  19.963792  17.206548
3     4  756.648805  27.507250  20.490305  17.483266
4     5  802.617424  28.330503  21.087459  17.957205
5     6  834.106843  28.880908  21.261071  17.885257

Processing input length: 144
Overall Evaluation Metrics:
MSE: 685.7339
RMSE: 26.1865
MAE: 19.5028
MAPE: 16.39%

   step         MSE       RMSE        MAE       MAPE
0     1  507.533093  22.528495  17.282989  14.537334
1     2  619.887812  24.897546  18.793297  15.955156
2     3  681.980823  26.114763  19.564897  16.555420
3     4  727.085035  26.964514  19.883663  16.611055
4     5  768.931273  27.729610  20.422428  17.013735
5     6  808.985324  28.442667  21.069416  17.643149

Processing input length: 168
Overall Evaluation Metrics:
MSE: 668.2225
RMSE: 25.8500
MAE: 19.1211
MAPE: 15.92%

   step         MSE       RMSE        MAE       MAPE
0     1  506.745243  22.511003  17.211375  14.248198
1     2  606.636828  24.629999  18.416687  15.462089
2     3  663.476114  25.758030  18.976233  16.028835
3     4  711.047926  26.665482  19.473343  16.158353
4     5  745.463689  27.303181  20.122400  16.623455
5     6  775.965198  27.856152  20.526624  17.010391

Processing input length: 192
Overall Evaluation Metrics:
MSE: 573.1729
RMSE: 23.9410
MAE: 17.5627
MAPE: 14.59%

   step         MSE       RMSE        MAE       MAPE
0     1  449.736607  21.206994  16.112541  13.284325
1     2  517.778795  22.754753  16.472162  13.692966
2     3  556.442456  23.589033  17.176808  14.453723
3     4  607.010007  24.637573  17.943574  14.943576
4     5  635.887778  25.216815  18.493519  15.372310
5     6  672.182042  25.926474  19.177416  15.779319

Processing input length: 216
Overall Evaluation Metrics:
MSE: 503.7713
RMSE: 22.4449
MAE: 16.3266
MAPE: 13.32%

   step         MSE       RMSE        MAE       MAPE
0     1  411.127855  20.276288  15.513569  12.728315
1     2  457.595881  21.391491  15.368238  12.713257
2     3  492.058098  22.182383  16.134185  13.290786
3     4  546.469398  23.376685  16.823331  13.673208
4     5  546.667737  23.380927  16.808141  13.588421
5     6  568.709092  23.847622  17.312001  13.923035

Processing input length: 240
Overall Evaluation Metrics:
MSE: 414.4279
RMSE: 20.3575
MAE: 15.2574
MAPE: 12.43%

   step         MSE       RMSE        MAE       MAPE
0     1  361.367088  19.009658  14.838990  12.187234
1     2  376.423369  19.401633  14.304397  11.875348
2     3  395.330594  19.882922  14.914287  12.295946
3     4  432.991044  20.808437  15.604098  12.647900
4     5  453.992932  21.307110  15.886022  12.844864
5     6  466.462561  21.597744  15.996779  12.756504

Processing input length: 264
Overall Evaluation Metrics:
MSE: 402.5810
RMSE: 20.0644
MAE: 15.1165
MAPE: 11.93%

   step         MSE       RMSE        MAE       MAPE
0     1  351.417955  18.746145  14.498084  11.688514
1     2  383.138141  19.573915  14.571520  11.566915
2     3  376.035508  19.391635  14.564892  11.560458
3     4  417.247580  20.426639  15.397163  12.020057
4     5  432.020612  20.785106  15.706910  12.271192
5     6  455.626336  21.345406  15.960156  12.453170

Processing input length: 288
Overall Evaluation Metrics:
MSE: 367.0771
RMSE: 19.1593
MAE: 14.6875
MAPE: 11.65%

   step         MSE       RMSE        MAE       MAPE
0     1  351.154734  18.739123  14.604339  11.591331
1     2  346.178686  18.605878  14.075611  11.180940
2     3  352.491158  18.774748  14.325346  11.436031
3     4  373.333285  19.321834  14.781428  11.644955
4     5  383.812030  19.591121  15.069195  11.943227
5     6  395.492625  19.886996  15.269242  12.111926

Processing input length: 312
Overall Evaluation Metrics:
MSE: 366.5729
RMSE: 19.1461
MAE: 14.7055
MAPE: 11.68%

   step         MSE       RMSE        MAE       MAPE
0     1  362.782573  19.046852  14.981947  11.834433
1     2  362.623480  19.042675  14.379521  11.446908
2     3  344.397110  18.557939  14.165602  11.286592
3     4  364.113818  19.081767  14.626556  11.544414
4     5  369.561421  19.223980  14.811929  11.775304
5     6  395.959121  19.898722  15.267625  12.178699

Processing input length: 336
Overall Evaluation Metrics:
MSE: 361.3015
RMSE: 19.0079
MAE: 14.4602
MAPE: 11.53%

   step         MSE       RMSE        MAE       MAPE
0     1  360.732700  18.992964  14.801725  11.854918
1     2  357.724102  18.913596  14.236066  11.349475
2     3  341.145352  18.470121  14.054276  11.200805
3     4  361.486985  19.012811  14.493926  11.473262
4     5  362.479951  19.038906  14.487646  11.544930
5     6  384.239757  19.602035  14.687842  11.738507

Processing input length: 360
Overall Evaluation Metrics:
MSE: 338.1439
RMSE: 18.3887
MAE: 14.0260
MAPE: 11.19%

   step         MSE       RMSE        MAE       MAPE
0     1  348.138772  18.658477  14.419456  11.489826
1     2  318.988473  17.860248  13.463743  10.744061
2     3  309.471836  17.591812  13.427102  10.768311
3     4  338.311197  18.393238  14.034035  11.150023
4     5  346.097384  18.603693  14.208236  11.288004
5     6  367.855618  19.179563  14.603380  11.716393

Processing input length: 384
Overall Evaluation Metrics:
MSE: 310.3452
RMSE: 17.6166
MAE: 13.4439
MAPE: 10.90%

   step         MSE       RMSE        MAE       MAPE
0     1  297.057414  17.235354  13.455881  10.802815
1     2  286.277861  16.919748  12.926560  10.475239
2     3  290.809370  17.053134  12.839511  10.580414
3     4  325.765298  18.048969  13.776936  11.157773
4     5  319.125058  17.864072  13.498518  10.945082
5     6  343.036205  18.521237  14.165812  11.467829

Processing input length: 408
Overall Evaluation Metrics:
MSE: 315.8608
RMSE: 17.7725
MAE: 13.5804
MAPE: 10.95%

   step         MSE       RMSE        MAE       MAPE
0     1  317.330920  17.813785  14.054207  11.258369
1     2  309.098823  17.581207  13.457258  10.845652
2     3  294.653302  17.165468  12.988884  10.493922
3     4  325.766070  18.048991  13.706632  11.031821
4     5  319.136334  17.864387  13.498494  10.907300
5     6  329.179637  18.143308  13.776889  11.163955

Processing input length: 432
Overall Evaluation Metrics:
MSE: 323.3392
RMSE: 17.9816
MAE: 13.7937
MAPE: 11.12%

   step         MSE       RMSE        MAE       MAPE
0     1  316.669067  17.795198  13.827973  11.126981
1     2  309.197644  17.584017  13.514973  10.950083
2     3  291.295033  17.067367  12.965932  10.574047
3     4  326.386529  18.066171  13.685112  10.914496
4     5  344.987024  18.573826  14.328661  11.439820
5     6  351.499736  18.748326  14.439401  11.684921

Processing input length: 456
Overall Evaluation Metrics:
MSE: 326.1427
RMSE: 18.0594
MAE: 13.7109
MAPE: 11.07%

   step         MSE       RMSE        MAE       MAPE
0     1  316.308125  17.785053  13.981094  11.216939
1     2  316.422467  17.788268  13.605381  11.025731
2     3  298.152455  17.267092  12.881871  10.564327
3     4  325.711998  18.047493  13.590884  10.964042
4     5  338.903837  18.409341  13.870568  11.094483
5     6  361.357199  19.009398  14.335540  11.558934

Processing input length: 480
Overall Evaluation Metrics:
MSE: 319.4392
RMSE: 17.8729
MAE: 13.4397
MAPE: 10.91%

   step         MSE       RMSE        MAE       MAPE
0     1  321.032941  17.917392  13.930256  11.269119
1     2  310.031548  17.607713  13.396488  10.866031
2     3  299.339336  17.301426  12.858683  10.577925
3     4  320.329691  17.897757  13.406083  10.842008
4     5  319.187362  17.865815  13.366421  10.744807
5     6  346.714439  18.620270  13.680223  11.135733

Processing input length: 504
Overall Evaluation Metrics:
MSE: 340.3718
RMSE: 18.4492
MAE: 13.8633
MAPE: 11.34%

   step         MSE       RMSE        MAE       MAPE
0     1  333.984641  18.275247  14.171563  11.553421
1     2  332.445596  18.233091  13.864454  11.300753
2     3  316.401962  17.787691  12.988515  10.628358
3     4  333.961675  18.274618  13.539948  11.017957
4     5  356.577026  18.883247  14.283212  11.667627
5     6  368.860051  19.205730  14.331881  11.852748

In [30]:
metrics_results(results_dict2_short)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 1083.9306
RMSE: 32.9231
MAE: 25.1285
MAPE: 22.47%

   step          MSE       RMSE        MAE       MAPE
0     1   666.408003  25.814879  19.833516  17.454014
1     2   963.079026  31.033515  23.698025  20.897891
2     3  1066.652026  32.659639  24.892348  21.949420
3     4  1179.393946  34.342305  26.238794  23.642015
4     5  1277.179398  35.737647  27.482053  24.635297
5     6  1350.871335  36.754202  28.626548  26.220421

Processing input length: 48
Overall Evaluation Metrics:
MSE: 940.6464
RMSE: 30.6700
MAE: 22.9150
MAPE: 19.64%

   step          MSE       RMSE        MAE       MAPE
0     1   608.578651  24.669387  18.664348  16.425684
1     2   808.655481  28.436868  21.460797  18.723472
2     3   919.285907  30.319728  22.914628  19.884247
3     4  1017.448276  31.897465  23.945660  20.270631
4     5  1114.463754  33.383585  24.864777  20.894748
5     6  1175.446188  34.284781  25.639931  21.657716

Processing input length: 72
Overall Evaluation Metrics:
MSE: 847.0084
RMSE: 29.1034
MAE: 21.5196
MAPE: 18.35%

   step          MSE       RMSE        MAE       MAPE
0     1   565.452479  23.779245  17.958909  15.272294
1     2   755.846451  27.492662  20.598346  17.693438
2     3   852.015177  29.189299  21.501291  18.351327
3     4   925.822261  30.427328  22.373342  18.855396
4     5   980.841958  31.318396  23.165998  19.695215
5     6  1002.072034  31.655521  23.519435  20.206048

Processing input length: 96
Overall Evaluation Metrics:
MSE: 721.0172
RMSE: 26.8518
MAE: 20.2070
MAPE: 16.93%

   step         MSE       RMSE        MAE       MAPE
0     1  533.627707  23.100383  17.789851  15.050018
1     2  667.520254  25.836413  19.563421  16.601024
2     3  731.474820  27.045791  20.474461  17.136824
3     4  762.917902  27.620969  20.747128  17.183007
4     5  805.103413  28.374344  21.187199  17.633095
5     6  825.459202  28.730806  21.479758  17.951810

Processing input length: 120
Overall Evaluation Metrics:
MSE: 660.5004
RMSE: 25.7002
MAE: 19.2921
MAPE: 16.03%

   step         MSE       RMSE        MAE       MAPE
0     1  505.792407  22.489829  17.361067  14.589207
1     2  618.739785  24.874481  18.807649  15.897362
2     3  648.583404  25.467301  19.148665  15.987834
3     4  692.809550  26.321276  19.663882  16.178748
4     5  739.969251  27.202376  20.218879  16.668304
5     6  757.108009  27.515596  20.552330  16.848663

Processing input length: 144
Overall Evaluation Metrics:
MSE: 647.6239
RMSE: 25.4485
MAE: 19.1017
MAPE: 15.67%

   step         MSE       RMSE        MAE       MAPE
0     1  494.752166  22.243025  17.181817  14.257023
1     2  589.256622  24.274609  18.293638  15.228755
2     3  635.454099  25.208215  18.763126  15.459759
3     4  684.535243  26.163624  19.506215  15.817646
4     5  732.016258  27.055799  20.218562  16.453049
5     6  749.728912  27.381178  20.646783  16.785928

Processing input length: 168
Overall Evaluation Metrics:
MSE: 568.0959
RMSE: 23.8348
MAE: 17.6005
MAPE: 14.21%

   step         MSE       RMSE        MAE       MAPE
0     1  477.351235  21.848369  16.713384  13.701616
1     2  554.510931  23.548056  17.388138  14.280740
2     3  573.724184  23.952540  17.688795  14.382704
3     4  597.907268  24.452142  17.870246  14.165606
4     5  602.511629  24.546112  17.914114  14.274695
5     6  602.570321  24.547308  18.028077  14.424686

Processing input length: 192
Overall Evaluation Metrics:
MSE: 485.4256
RMSE: 22.0324
MAE: 15.9578
MAPE: 12.92%

   step         MSE       RMSE        MAE       MAPE
0     1  409.456981  20.235043  15.141300  12.467744
1     2  454.055499  21.308578  15.337176  12.607235
2     3  476.007619  21.817599  15.612348  12.757408
3     4  508.972173  22.560412  16.175646  13.075581
4     5  523.802627  22.886735  16.555883  13.266165
5     6  540.258994  23.243472  16.924611  13.364561

Processing input length: 216
Overall Evaluation Metrics:
MSE: 449.9303
RMSE: 21.2116
MAE: 15.3490
MAPE: 12.29%

   step         MSE       RMSE        MAE       MAPE
0     1  374.045000  19.340243  14.737464  12.110330
1     2  423.750368  20.585198  14.737353  11.994030
2     3  443.677866  21.063662  15.215540  12.237540
3     4  480.665651  21.924088  15.540192  12.283921
4     5  489.695897  22.129074  15.738946  12.355170
5     6  487.747120  22.084998  16.124324  12.748230

Processing input length: 240
Overall Evaluation Metrics:
MSE: 375.7740
RMSE: 19.3849
MAE: 14.7382
MAPE: 11.85%

   step         MSE       RMSE        MAE       MAPE
0     1  335.532219  18.317539  14.260684  11.724596
1     2  349.499116  18.694895  13.991724  11.384825
2     3  361.828029  19.021778  14.445407  11.670791
3     4  393.847718  19.845597  15.112755  12.003239
4     5  410.592344  20.263078  15.327344  12.137220
5     6  403.344593  20.083441  15.291506  12.188432

Processing input length: 264
Overall Evaluation Metrics:
MSE: 362.6212
RMSE: 19.0426
MAE: 14.4868
MAPE: 11.37%

   step         MSE       RMSE        MAE       MAPE
0     1  314.179071  17.725097  13.895304  11.276434
1     2  344.814870  18.569191  14.119056  11.257457
2     3  344.514586  18.561104  14.069397  11.014580
3     4  377.286033  19.423852  14.751865  11.432087
4     5  391.833435  19.794783  15.011033  11.664902
5     6  403.099289  20.077333  15.073894  11.600520

Processing input length: 288
Overall Evaluation Metrics:
MSE: 330.7824
RMSE: 18.1874
MAE: 14.0599
MAPE: 11.04%

   step         MSE       RMSE        MAE       MAPE
0     1  313.417415  17.703599  13.795182  11.042938
1     2  318.987366  17.860217  13.643174  10.812966
2     3  325.615746  18.044826  14.034798  11.027197
3     4  337.116386  18.360729  14.155393  10.992031
4     5  341.092755  18.468697  14.274918  11.057299
5     6  348.464662  18.667208  14.455809  11.311397

Processing input length: 312
Overall Evaluation Metrics:
MSE: 346.8533
RMSE: 18.6240
MAE: 14.2415
MAPE: 11.12%

   step         MSE       RMSE        MAE       MAPE
0     1  335.304762  18.311329  14.188697  11.231141
1     2  335.312886  18.311551  13.835710  10.884716
2     3  333.115600  18.251455  13.917544  10.841256
3     4  353.383976  18.798510  14.334081  11.080576
4     5  354.107921  18.817755  14.510618  11.284361
5     6  369.894688  19.232646  14.662186  11.426330

Processing input length: 336
Overall Evaluation Metrics:
MSE: 332.0316
RMSE: 18.2217
MAE: 13.9801
MAPE: 10.96%

   step         MSE       RMSE        MAE       MAPE
0     1  328.445144  18.123056  14.110428  11.290420
1     2  329.019250  18.138888  13.665032  10.759321
2     3  318.840034  17.856092  13.636544  10.671437
3     4  337.904037  18.382166  14.185351  10.954768
4     5  333.202799  18.253843  14.043955  10.910350
5     6  344.778087  18.568201  14.239579  11.188748

Processing input length: 360
Overall Evaluation Metrics:
MSE: 289.8421
RMSE: 17.0248
MAE: 13.1227
MAPE: 10.49%

   step         MSE       RMSE        MAE       MAPE
0     1  308.255025  17.557193  13.611367  10.974332
1     2  279.025039  16.704043  12.687213  10.186453
2     3  275.005041  16.583276  12.659950  10.053514
3     4  286.950073  16.939601  13.083365  10.400460
4     5  292.691475  17.108228  13.348295  10.641984
5     6  297.126127  17.237347  13.346269  10.693747

Processing input length: 384
Overall Evaluation Metrics:
MSE: 280.4416
RMSE: 16.7464
MAE: 12.7925
MAPE: 10.23%

   step         MSE       RMSE        MAE       MAPE
0     1  267.224137  16.346992  12.810814  10.335432
1     2  261.760924  16.179027  12.261476   9.830834
2     3  260.113814  16.128044  12.273642   9.831547
3     4  289.887996  17.026097  13.029072  10.271311
4     5  291.891443  17.084831  12.904716  10.222574
5     6  311.771030  17.657039  13.475007  10.883882

Processing input length: 408
Overall Evaluation Metrics:
MSE: 275.4456
RMSE: 16.5966
MAE: 12.8318
MAPE: 10.35%

   step         MSE       RMSE        MAE       MAPE
0     1  270.720322  16.453581  13.045709  10.593589
1     2  270.048955  16.433166  12.424905   9.979093
2     3  257.149188  16.035872  12.441029   9.965477
3     4  282.256968  16.800505  13.012126  10.387356
4     5  281.889645  16.789570  12.980786  10.554849
5     6  290.608520  17.047244  13.086234  10.611247

Processing input length: 432
Overall Evaluation Metrics:
MSE: 274.2616
RMSE: 16.5608
MAE: 12.8541
MAPE: 10.31%

   step         MSE       RMSE        MAE       MAPE
0     1  259.571426  16.111220  12.849759  10.383751
1     2  260.319905  16.134432  12.448767   9.934270
2     3  260.452292  16.138534  12.525759  10.069076
3     4  274.750143  16.575589  12.871397  10.331297
4     5  296.958899  17.232495  13.263602  10.572176
5     6  293.516753  17.132331  13.165403  10.544985

Processing input length: 456
Overall Evaluation Metrics:
MSE: 275.1374
RMSE: 16.5873
MAE: 12.8809
MAPE: 10.42%

   step         MSE       RMSE        MAE       MAPE
0     1  273.081158  16.525167  13.103428  10.608199
1     2  264.956671  16.277490  12.589572  10.154002
2     3  253.887660  15.933853  12.249577   9.871595
3     4  278.022619  16.674010  12.980161  10.530926
4     5  286.888655  16.937788  13.099566  10.597368
5     6  293.987366  17.146060  13.262892  10.734302

Processing input length: 480
Overall Evaluation Metrics:
MSE: 280.6930
RMSE: 16.7539
MAE: 12.8370
MAPE: 10.34%

   step         MSE       RMSE        MAE       MAPE
0     1  280.861203  16.758914  13.111059  10.629003
1     2  277.910657  16.670653  12.609430  10.190557
2     3  269.299038  16.410333  12.299102   9.804942
3     4  278.131966  16.677289  12.957338  10.284342
4     5  287.138896  16.945173  12.867434  10.382715
5     6  290.816158  17.053333  13.177857  10.726760

Processing input length: 504
Overall Evaluation Metrics:
MSE: 280.4587
RMSE: 16.7469
MAE: 12.8658
MAPE: 10.46%

   step         MSE       RMSE        MAE       MAPE
0     1  271.896375  16.489281  12.871015  10.596164
1     2  273.882265  16.549389  12.700197  10.324306
2     3  268.677536  16.391386  12.501556  10.167297
3     4  285.673891  16.901890  13.071450  10.478037
4     5  283.732539  16.844362  12.951888  10.567998
5     6  298.889300  17.288415  13.098832  10.646554

In [31]:
metrics_results(results_dict3_short)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 1097.2296
RMSE: 33.1245
MAE: 25.4027
MAPE: 22.90%

   step          MSE       RMSE        MAE       MAPE
0     1   675.277154  25.986095  20.011550  17.662815
1     2   964.796019  31.061166  23.783753  21.205044
2     3  1081.785711  32.890511  25.097126  22.614972
3     4  1178.201102  34.324934  26.384937  23.950258
4     5  1297.876549  36.026054  27.882387  25.000811
5     6  1385.441165  37.221515  29.256567  26.953524

Processing input length: 48
Overall Evaluation Metrics:
MSE: 932.9414
RMSE: 30.5441
MAE: 22.9315
MAPE: 20.11%

   step          MSE       RMSE        MAE       MAPE
0     1   593.358893  24.358959  18.513222  16.442749
1     2   790.962244  28.124051  21.213979  18.831206
2     3   913.237907  30.219826  22.951652  20.295063
3     4  1020.707296  31.948510  24.099367  20.952536
4     5  1101.358312  33.186719  24.971644  21.659055
5     6  1178.023835  34.322352  25.839199  22.485889

Processing input length: 72
Overall Evaluation Metrics:
MSE: 841.8233
RMSE: 29.0142
MAE: 21.7317
MAPE: 18.69%

   step          MSE       RMSE        MAE       MAPE
0     1   553.983643  23.536857  18.042199  15.534582
1     2   754.711321  27.472010  20.687215  17.895704
2     3   843.368115  29.040801  21.760370  18.728221
3     4   914.413259  30.239267  22.743599  19.345470
4     5   963.795002  31.045048  23.319449  20.032853
5     6  1020.668539  31.947904  23.837215  20.592416

Processing input length: 96
Overall Evaluation Metrics:
MSE: 721.6193
RMSE: 26.8630
MAE: 20.3850
MAPE: 17.54%

   step         MSE       RMSE        MAE       MAPE
0     1  509.297998  22.567632  17.469294  15.109834
1     2  657.872540  25.649026  19.505222  17.028116
2     3  717.542811  26.786990  20.509534  17.571363
3     4  780.495511  27.937350  21.333983  18.236301
4     5  821.920547  28.669157  21.623703  18.484834
5     6  842.586245  29.027336  21.868212  18.780452

Processing input length: 120
Overall Evaluation Metrics:
MSE: 650.8707
RMSE: 25.5122
MAE: 19.2409
MAPE: 16.33%

   step         MSE       RMSE        MAE       MAPE
0     1  479.678277  21.901559  16.985111  14.618824
1     2  602.547274  24.546838  18.592932  15.998727
2     3  640.540332  25.308898  19.220479  16.471459
3     4  693.824789  26.340554  19.778163  16.602827
4     5  735.890779  27.127307  20.340421  17.189764
5     6  752.742663  27.436156  20.528327  17.107421

Processing input length: 144
Overall Evaluation Metrics:
MSE: 598.5695
RMSE: 24.4657
MAE: 18.4355
MAPE: 15.31%

   step         MSE       RMSE        MAE       MAPE
0     1  465.733882  21.580868  16.807918  14.195538
1     2  547.610055  23.401070  17.619681  14.884526
2     3  578.062366  24.042928  18.141973  15.073520
3     4  631.945330  25.138523  18.813763  15.425252
4     5  676.446521  26.008586  19.517383  16.079067
5     6  691.618812  26.298647  19.712018  16.227331

Processing input length: 168
Overall Evaluation Metrics:
MSE: 529.6899
RMSE: 23.0150
MAE: 17.0551
MAPE: 14.10%

   step         MSE       RMSE        MAE       MAPE
0     1  442.768574  21.042067  16.242849  13.552687
1     2  508.606058  22.552296  16.878598  14.106562
2     3  533.907384  23.106436  17.101547  14.218754
3     4  558.502401  23.632655  17.262181  14.089713
4     5  561.624907  23.698627  17.325228  14.236517
5     6  572.730271  23.931784  17.520047  14.421756

Processing input length: 192
Overall Evaluation Metrics:
MSE: 424.7194
RMSE: 20.6087
MAE: 14.8368
MAPE: 12.39%

   step         MSE       RMSE        MAE       MAPE
0     1  343.847312  18.543120  13.985979  11.851425
1     2  391.078680  19.775709  14.007970  11.904595
2     3  414.869640  20.368349  14.551182  12.276564
3     4  453.548984  21.296690  15.268379  12.709602
4     5  466.443782  21.597310  15.512878  12.837813
5     6  478.527977  21.875282  15.694424  12.764306

Processing input length: 216
Overall Evaluation Metrics:
MSE: 370.0104
RMSE: 19.2357
MAE: 13.6679
MAPE: 11.22%

   step         MSE       RMSE        MAE       MAPE
0     1  314.431780  17.732224  13.338598  11.343586
1     2  351.771033  18.755560  13.240818  11.091672
2     3  364.028185  19.079523  13.434695  11.062405
3     4  394.937973  19.873046  13.899763  11.354047
4     5  398.490964  19.962238  13.894169  11.148550
5     6  396.402757  19.909866  14.199561  11.324767

Processing input length: 240
Overall Evaluation Metrics:
MSE: 271.1591
RMSE: 16.4669
MAE: 12.2940
MAPE: 10.23%

   step         MSE       RMSE        MAE       MAPE
0     1  252.252915  15.882472  12.239716  10.349961
1     2  258.419696  16.075438  11.804475  10.015846
2     3  262.409088  16.199046  12.167663  10.153898
3     4  276.932062  16.641276  12.336084  10.160523
4     5  281.480513  16.777381  12.409332  10.225570
5     6  295.460188  17.188955  12.806453  10.470513

Processing input length: 264
Overall Evaluation Metrics:
MSE: 247.0779
RMSE: 15.7187
MAE: 11.6861
MAPE: 9.40%

   step         MSE       RMSE        MAE      MAPE
0     1  222.772197  14.925555  11.532080  9.615780
1     2  232.264340  15.240221  11.432930  9.342658
2     3  234.139122  15.301605  11.289975  9.083575
3     4  261.031059  16.156456  11.831909  9.418273
4     5  264.023888  16.248812  11.991162  9.508620
5     6  268.236563  16.377929  12.038284  9.419118

Processing input length: 288
Overall Evaluation Metrics:
MSE: 217.8468
RMSE: 14.7596
MAE: 11.1238
MAPE: 8.94%

   step         MSE       RMSE        MAE      MAPE
0     1  223.495450  14.949764  11.522205  9.451452
1     2  206.362914  14.365337  10.737704  8.654997
2     3  209.307775  14.467473  10.855556  8.767696
3     4  218.431417  14.779425  11.091746  8.799955
4     5  217.984743  14.764306  11.116733  8.886554
5     6  231.498676  15.215081  11.418677  9.053963

Processing input length: 312
Overall Evaluation Metrics:
MSE: 221.6308
RMSE: 14.8873
MAE: 11.0733
MAPE: 8.86%

   step         MSE       RMSE        MAE      MAPE
0     1  225.605754  15.020178  11.286421  9.173765
1     2  212.794011  14.587461  10.683043  8.610631
2     3  210.890007  14.522052  10.811337  8.677617
3     4  224.212363  14.973722  11.104862  8.818274
4     5  221.821672  14.893679  11.220627  8.862478
5     6  234.461195  15.312126  11.333727  8.987335

Processing input length: 336
Overall Evaluation Metrics:
MSE: 200.2014
RMSE: 14.1493
MAE: 10.6340
MAPE: 8.50%

   step         MSE       RMSE        MAE      MAPE
0     1  220.520549  14.849934  11.186419  9.158513
1     2  201.509627  14.195409  10.631318  8.575473
2     3  189.818763  13.777473  10.375245  8.335216
3     4  196.304974  14.010888  10.594429  8.413439
4     5  192.860442  13.887420  10.406025  8.226216
5     6  200.194176  14.148999  10.610860  8.307619

Processing input length: 360
Overall Evaluation Metrics:
MSE: 179.3281
RMSE: 13.3913
MAE: 10.0250
MAPE: 8.12%

   step         MSE       RMSE        MAE      MAPE
0     1  188.800612  13.740474  10.481618  8.686887
1     2  159.323158  12.622328   9.462902  7.762242
2     3  174.971801  13.227691   9.900143  8.027001
3     4  178.544983  13.362073   9.959709  7.987924
4     5  179.709221  13.405567  10.083911  8.076283
5     6  194.618582  13.950576  10.261725  8.189623

Processing input length: 384
Overall Evaluation Metrics:
MSE: 166.6464
RMSE: 12.9092
MAE: 9.7085
MAPE: 7.89%

   step         MSE       RMSE        MAE      MAPE
0     1  165.466932  12.863395   9.947034  8.206367
1     2  161.211215  12.696898   9.667427  7.871465
2     3  154.045081  12.411490   9.154676  7.453365
3     4  173.443763  13.169805   9.783166  7.914457
4     5  166.062989  12.886543   9.657069  7.788196
5     6  179.648346  13.403296  10.041919  8.109496

Processing input length: 408
Overall Evaluation Metrics:
MSE: 168.5064
RMSE: 12.9810
MAE: 9.8019
MAPE: 7.95%

   step         MSE       RMSE        MAE      MAPE
0     1  175.036551  13.230138  10.292547  8.512728
1     2  163.469370  12.785514   9.713862  7.900175
2     3  162.686903  12.754878   9.570153  7.725152
3     4  174.297728  13.202187   9.716835  7.784751
4     5  164.714150  12.834101   9.676849  7.868540
5     6  170.833659  13.070335   9.841282  7.925137

Processing input length: 432
Overall Evaluation Metrics:
MSE: 160.9142
RMSE: 12.6852
MAE: 9.6227
MAPE: 7.81%

   step         MSE       RMSE        MAE      MAPE
0     1  171.634942  13.100952  10.146049  8.431128
1     2  150.440995  12.265439   9.369375  7.732605
2     3  154.696804  12.437717   9.300912  7.507602
3     4  155.948380  12.487929   9.449555  7.645620
4     5  166.787625  12.914628   9.700884  7.766620
5     6  165.976158  12.883173   9.769380  7.780076

Processing input length: 456
Overall Evaluation Metrics:
MSE: 165.8835
RMSE: 12.8796
MAE: 9.6248
MAPE: 7.80%

   step         MSE       RMSE       MAE      MAPE
0     1  170.415348  13.054323  9.989217  8.308781
1     2  159.865110  12.643778  9.446443  7.749249
2     3  153.416809  12.386154  9.162207  7.395183
3     4  169.504258  13.019380  9.530498  7.698227
4     5  170.426015  13.054732  9.726436  7.794811
5     6  171.673275  13.102415  9.894271  7.855677

Processing input length: 480
Overall Evaluation Metrics:
MSE: 160.1867
RMSE: 12.6565
MAE: 9.4891
MAPE: 7.56%

   step         MSE       RMSE        MAE      MAPE
0     1  177.257962  13.313826  10.277758  8.391616
1     2  162.594429  12.751252   9.515027  7.632839
2     3  152.500430  12.349106   9.111605  7.284854
3     4  151.791587  12.320373   9.110045  7.148770
4     5  157.767130  12.560539   9.426947  7.397116
5     6  159.208663  12.617792   9.493123  7.492255

Processing input length: 504
Overall Evaluation Metrics:
MSE: 163.8069
RMSE: 12.7987
MAE: 9.5891
MAPE: 7.65%

   step         MSE       RMSE        MAE      MAPE
0     1  177.038271  13.305573  10.133009  8.366198
1     2  158.192454  12.577458   9.385971  7.575245
2     3  161.158100  12.694806   9.474853  7.475754
3     4  169.770723  13.029609   9.709653  7.664982
4     5  153.429935  12.386684   9.315152  7.298487
5     6  163.251842  12.777004   9.515663  7.497449

In [32]:
metrics_results(results_dict4_short)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 1135.5615
RMSE: 33.6981
MAE: 25.8533
MAPE: 23.29%

   step          MSE       RMSE        MAE       MAPE
0     1   652.017019  25.534624  19.720410  17.687818
1     2   951.038921  30.838919  23.712946  21.133943
2     3  1074.769435  32.783676  25.259594  22.562724
3     4  1233.258960  35.117787  27.076372  24.453975
4     5  1390.472291  37.289037  29.120097  26.120897
5     6  1511.812227  38.882030  30.230639  27.779798

Processing input length: 48
Overall Evaluation Metrics:
MSE: 914.7634
RMSE: 30.2451
MAE: 22.5318
MAPE: 19.89%

   step          MSE       RMSE        MAE       MAPE
0     1   567.615681  23.824686  18.261254  16.400853
1     2   787.040234  28.054237  21.067014  18.686579
2     3   906.906874  30.114895  22.652932  20.092282
3     4  1014.999397  31.859055  23.850907  20.817292
4     5  1069.670148  32.705812  24.295115  21.295966
5     6  1142.347851  33.798637  25.063311  22.037370

Processing input length: 72
Overall Evaluation Metrics:
MSE: 827.3326
RMSE: 28.7634
MAE: 21.5385
MAPE: 19.00%

   step         MSE       RMSE        MAE       MAPE
0     1  551.179136  23.477205  17.935811  15.644859
1     2  746.283699  27.318194  20.531726  18.020100
2     3  843.848159  29.049065  21.795023  19.170713
3     4  893.328972  29.888609  22.494370  19.761171
4     5  948.875576  30.803824  23.104629  20.421043
5     6  980.479790  31.312614  23.369332  20.984086

Processing input length: 96
Overall Evaluation Metrics:
MSE: 699.5247
RMSE: 26.4485
MAE: 19.9975
MAPE: 17.28%

   step         MSE       RMSE        MAE       MAPE
0     1  503.803222  22.445561  17.386523  14.994975
1     2  645.624536  25.409143  19.270077  16.747412
2     3  710.424956  26.653798  20.300803  17.521080
3     4  740.401318  27.210316  20.591800  17.670245
4     5  785.386396  28.024746  21.161789  18.253578
5     6  811.507683  28.486974  21.273904  18.498089

Processing input length: 120
Overall Evaluation Metrics:
MSE: 646.3178
RMSE: 25.4228
MAE: 19.1444
MAPE: 16.20%

   step         MSE       RMSE        MAE       MAPE
0     1  476.409992  21.826818  16.885158  14.560442
1     2  605.440893  24.605709  18.582779  15.952206
2     3  643.399099  25.365313  19.182401  16.211591
3     4  679.655078  26.070195  19.613698  16.441900
4     5  718.007166  26.795656  20.142611  16.951548
5     6  754.994474  27.477163  20.459535  17.080951

Processing input length: 144
Overall Evaluation Metrics:
MSE: 601.8420
RMSE: 24.5325
MAE: 18.5059
MAPE: 15.57%

   step         MSE       RMSE        MAE       MAPE
0     1  464.538705  21.553160  16.640269  14.151146
1     2  561.193569  23.689524  17.794872  15.081352
2     3  592.934226  24.350241  18.291881  15.361083
3     4  634.272270  25.184763  18.801039  15.695904
4     5  664.743717  25.782624  19.551454  16.389164
5     6  693.369767  26.331915  19.955733  16.735535

Processing input length: 168
Overall Evaluation Metrics:
MSE: 517.6190
RMSE: 22.7512
MAE: 16.9544
MAPE: 14.11%

   step         MSE       RMSE        MAE       MAPE
0     1  431.946599  20.783325  15.912259  13.315200
1     2  496.051843  22.272221  16.557646  13.866585
2     3  514.671046  22.686363  16.931415  14.192640
3     4  536.373652  23.159742  17.162199  14.111471
4     5  551.995535  23.494585  17.424554  14.399417
5     6  574.675126  23.972383  17.738623  14.783629

Processing input length: 192
Overall Evaluation Metrics:
MSE: 440.3470
RMSE: 20.9844
MAE: 15.1800
MAPE: 12.48%

   step         MSE       RMSE        MAE       MAPE
0     1  352.319324  18.770171  13.908721  11.611489
1     2  406.713658  20.167143  14.479716  12.104198
2     3  431.841143  20.780788  15.033966  12.431205
3     4  465.048855  21.564991  15.623487  12.863460
4     5  475.683708  21.810174  15.660330  12.733212
5     6  510.475430  22.593703  16.374045  13.142542

Processing input length: 216
Overall Evaluation Metrics:
MSE: 392.1232
RMSE: 19.8021
MAE: 14.1176
MAPE: 11.40%

   step         MSE       RMSE        MAE       MAPE
0     1  334.466641  18.288429  13.624694  11.320265
1     2  375.039379  19.365933  13.664871  11.272477
2     3  393.815308  19.844780  14.103577  11.385612
3     4  410.048430  20.249653  14.146642  11.361640
4     5  424.136502  20.594575  14.436419  11.380943
5     6  415.233139  20.377270  14.729290  11.655915

Processing input length: 240
Overall Evaluation Metrics:
MSE: 303.1795
RMSE: 17.4120
MAE: 12.9572
MAPE: 10.52%

   step         MSE       RMSE        MAE       MAPE
0     1  261.292410  16.164542  12.422650  10.332449
1     2  281.709604  16.784207  12.346096  10.205785
2     3  295.876152  17.201051  12.792914  10.451981
3     4  310.085106  17.609234  13.023421  10.496008
4     5  326.536872  18.070331  13.434002  10.719640
5     6  343.576601  18.535819  13.724415  10.926231

Processing input length: 264
Overall Evaluation Metrics:
MSE: 275.7756
RMSE: 16.6065
MAE: 12.4113
MAPE: 9.77%

   step         MSE       RMSE        MAE      MAPE
0     1  227.776823  15.092277  11.623407  9.492819
1     2  259.119163  16.097179  12.116709  9.623473
2     3  268.657130  16.390764  12.264923  9.626546
3     4  292.940135  17.115494  12.724801  9.912589
4     5  301.448580  17.362275  12.897582  9.997455
5     6  304.711507  17.455988  12.840279  9.947132

Processing input length: 288
Overall Evaluation Metrics:
MSE: 225.8584
RMSE: 15.0286
MAE: 11.4902
MAPE: 9.01%

   step         MSE       RMSE        MAE      MAPE
0     1  223.500155  14.949922  11.467995  9.140644
1     2  216.623576  14.718138  11.159057  8.798717
2     3  223.391439  14.946285  11.485168  9.048061
3     4  224.912796  14.997093  11.521363  8.909861
4     5  226.194349  15.039759  11.542395  8.954592
5     6  240.528281  15.508974  11.765243  9.221011

Processing input length: 312
Overall Evaluation Metrics:
MSE: 222.2479
RMSE: 14.9080
MAE: 11.3054
MAPE: 8.96%

   step         MSE       RMSE        MAE      MAPE
0     1  216.950889  14.729253  11.246882  8.921041
1     2  216.649744  14.719027  10.930398  8.671949
2     3  215.802421  14.690215  11.220848  8.912620
3     4  223.129099  14.937506  11.322904  8.903382
4     5  223.303599  14.943346  11.417225  9.071010
5     6  237.651697  15.415956  11.694318  9.300944

Processing input length: 336
Overall Evaluation Metrics:
MSE: 190.7794
RMSE: 13.8123
MAE: 10.4264
MAPE: 8.24%

   step         MSE       RMSE        MAE      MAPE
0     1  204.908007  14.314608  10.911370  8.789978
1     2  195.174611  13.970491  10.362141  8.201088
2     3  182.797153  13.520250  10.230772  8.059690
3     4  184.510138  13.583451  10.188437  8.030878
4     5  183.675067  13.552677  10.303172  8.085026
5     6  193.611626  13.914439  10.562378  8.282779

Processing input length: 360
Overall Evaluation Metrics:
MSE: 164.3731
RMSE: 12.8208
MAE: 9.7130
MAPE: 7.77%

   step         MSE       RMSE        MAE      MAPE
0     1  168.947875  12.997995  10.028844  8.085522
1     2  154.284469  12.421130   9.290374  7.363449
2     3  158.689050  12.597184   9.477441  7.592370
3     4  166.637790  12.908826   9.758777  7.803659
4     5  165.755382  12.874602   9.813999  7.820306
5     6  171.923902  13.111976   9.908542  7.955730

Processing input length: 384
Overall Evaluation Metrics:
MSE: 137.4846
RMSE: 11.7254
MAE: 8.9252
MAPE: 7.15%

   step         MSE       RMSE       MAE      MAPE
0     1  135.197912  11.627464  9.056719  7.201258
1     2  134.942520  11.616476  8.713063  6.986017
2     3  128.058605  11.316298  8.529925  6.867674
3     4  148.064090  12.168159  9.165176  7.344403
4     5  135.674610  11.647944  8.873773  7.073258
5     6  142.969581  11.956989  9.212826  7.403140

Processing input length: 408
Overall Evaluation Metrics:
MSE: 138.0450
RMSE: 11.7493
MAE: 8.9518
MAPE: 7.18%

   step         MSE       RMSE       MAE      MAPE
0     1  139.737422  11.821058  9.113008  7.340583
1     2  140.856583  11.868302  8.814690  7.062091
2     3  133.654117  11.560887  8.751892  6.958896
3     4  143.660053  11.985827  9.071499  7.237916
4     5  135.951363  11.659818  8.949607  7.177694
5     6  134.410701  11.593563  9.010035  7.280180

Processing input length: 432
Overall Evaluation Metrics:
MSE: 133.1741
RMSE: 11.5401
MAE: 8.7733
MAPE: 6.98%

   step         MSE       RMSE       MAE      MAPE
0     1  138.585223  11.772223  9.140589  7.279263
1     2  128.911445  11.353918  8.424531  6.687885
2     3  133.182049  11.540453  8.700644  6.878779
3     4  131.215535  11.454935  8.699389  6.946198
4     5  131.194115  11.454000  8.669119  6.858287
5     6  135.956155  11.660024  9.005743  7.227163

Processing input length: 456
Overall Evaluation Metrics:
MSE: 130.3778
RMSE: 11.4183
MAE: 8.5875
MAPE: 6.86%

   step         MSE       RMSE       MAE      MAPE
0     1  133.650560  11.560734  8.778246  7.079208
1     2  123.485943  11.112423  8.155979  6.478880
2     3  126.948079  11.267124  8.390760  6.727664
3     4  133.281429  11.544758  8.782051  7.073881
4     5  129.299765  11.371005  8.607084  6.887301
5     6  135.601103  11.644789  8.811066  6.942660

Processing input length: 480
Overall Evaluation Metrics:
MSE: 131.6085
RMSE: 11.4721
MAE: 8.6741
MAPE: 6.91%

   step         MSE       RMSE       MAE      MAPE
0     1  132.614888  11.515854  8.749441  6.938700
1     2  131.756283  11.478514  8.472026  6.795154
2     3  131.291237  11.458239  8.707890  7.011922
3     4  127.452629  11.289492  8.613460  6.841759
4     5  135.467239  11.639039  8.811917  6.948607
5     6  131.068511  11.448516  8.689701  6.896460

Processing input length: 504
Overall Evaluation Metrics:
MSE: 134.8077
RMSE: 11.6107
MAE: 8.6647
MAPE: 6.89%

   step         MSE       RMSE       MAE      MAPE
0     1  128.236604  11.324160  8.610971  7.005590
1     2  132.689959  11.519113  8.411443  6.729203
2     3  131.405326  11.463216  8.591873  6.784453
3     4  141.477761  11.894442  8.965947  7.067385
4     5  139.079191  11.793184  8.699266  6.892550
5     6  135.957467  11.660080  8.708901  6.869425

In [33]:
metrics_results(results_dict5_short)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 1134.9435
RMSE: 33.6889
MAE: 25.9380
MAPE: 23.35%

   step          MSE       RMSE        MAE       MAPE
0     1   663.798255  25.764283  19.821895  17.344716
1     2   964.817636  31.061514  24.010066  21.216768
2     3  1104.803753  33.238588  25.556927  22.810578
3     4  1230.193689  35.074117  27.238484  24.721376
4     5  1370.866781  37.025218  28.980470  26.203193
5     6  1475.180846  38.408083  30.019980  27.791765

Processing input length: 48
Overall Evaluation Metrics:
MSE: 905.1468
RMSE: 30.0857
MAE: 22.4692
MAPE: 19.93%

   step          MSE       RMSE        MAE       MAPE
0     1   580.109864  24.085470  18.450476  16.501662
1     2   779.973392  27.928004  20.947538  18.761944
2     3   901.541332  30.025678  22.682099  20.395878
3     4   986.557203  31.409508  23.693894  20.829563
4     5  1063.300286  32.608286  24.265672  21.188080
5     6  1119.398568  33.457414  24.775693  21.899075

Processing input length: 72
Overall Evaluation Metrics:
MSE: 786.0261
RMSE: 28.0362
MAE: 21.1135
MAPE: 18.35%

   step         MSE       RMSE        MAE       MAPE
0     1  540.927471  23.257848  17.793964  15.549544
1     2  724.657050  26.919455  20.197796  17.565733
2     3  804.217199  28.358724  21.548522  18.652004
3     4  852.884482  29.204186  22.211958  19.213588
4     5  887.398200  29.789230  22.481196  19.522658
5     6  906.072272  30.101034  22.447676  19.602286

Processing input length: 96
Overall Evaluation Metrics:
MSE: 669.4427
RMSE: 25.8736
MAE: 19.6882
MAPE: 17.23%

   step         MSE       RMSE        MAE       MAPE
0     1  482.526210  21.966479  17.075065  14.823320
1     2  609.325060  24.684511  18.605847  16.119078
2     3  678.029508  26.039000  19.943491  17.360559
3     4  719.249173  26.818821  20.561284  17.875997
4     5  756.743590  27.508973  20.814717  18.480881
5     6  770.782836  27.762976  21.128942  18.725217

Processing input length: 120
Overall Evaluation Metrics:
MSE: 616.3421
RMSE: 24.8262
MAE: 18.7194
MAPE: 15.98%

   step         MSE       RMSE        MAE       MAPE
0     1  468.179211  21.637449  16.814863  14.435808
1     2  581.074710  24.105491  18.076619  15.524339
2     3  621.156722  24.923016  18.815692  16.042991
3     4  652.107792  25.536401  19.162579  16.279300
4     5  674.852588  25.977925  19.554846  16.628991
5     6  700.681326  26.470386  19.892032  16.986611

Processing input length: 144
Overall Evaluation Metrics:
MSE: 576.2933
RMSE: 24.0061
MAE: 18.0956
MAPE: 15.29%

   step         MSE       RMSE        MAE       MAPE
0     1  454.257741  21.313323  16.392427  13.842528
1     2  531.766504  23.060063  17.259737  14.732768
2     3  574.891087  23.976887  17.997227  15.328990
3     4  603.584183  24.567950  18.433155  15.553553
4     5  643.934225  25.375859  19.236227  16.080639
5     6  649.326051  25.481877  19.254662  16.213833

Processing input length: 168
Overall Evaluation Metrics:
MSE: 488.0962
RMSE: 22.0929
MAE: 16.2639
MAPE: 13.40%

   step         MSE       RMSE        MAE       MAPE
0     1  413.730075  20.340356  15.415847  12.813785
1     2  465.023932  21.564414  15.839828  13.083310
2     3  482.655482  21.969422  16.291693  13.461109
3     4  500.722510  22.376830  16.344266  13.358000
4     5  526.264361  22.940453  16.768651  13.770475
5     6  540.181021  23.241795  16.923248  13.907532

Processing input length: 192
Overall Evaluation Metrics:
MSE: 434.3443
RMSE: 20.8409
MAE: 14.9543
MAPE: 12.24%

   step         MSE       RMSE        MAE       MAPE
0     1  340.248013  18.445813  13.841309  11.506423
1     2  393.024961  19.824857  14.165259  11.818657
2     3  426.811714  20.659422  14.828268  12.269321
3     4  469.254311  21.662279  15.490088  12.632441
4     5  482.508926  21.966086  15.655487  12.583761
5     6  494.217730  22.231008  15.745462  12.612676

Processing input length: 216
Overall Evaluation Metrics:
MSE: 380.5033
RMSE: 19.5065
MAE: 13.9185
MAPE: 11.26%

   step         MSE       RMSE        MAE       MAPE
0     1  309.748695  17.599679  13.058335  10.839214
1     2  357.181576  18.899248  13.305138  10.999154
2     3  384.502255  19.608729  13.952767  11.356687
3     4  397.433891  19.935744  14.223630  11.413298
4     5  417.637053  20.436170  14.307260  11.370672
5     6  416.516403  20.408733  14.663714  11.563498

Processing input length: 240
Overall Evaluation Metrics:
MSE: 315.2493
RMSE: 17.7553
MAE: 13.1879
MAPE: 10.73%

   step         MSE       RMSE        MAE       MAPE
0     1  264.970631  16.277919  12.483879  10.536263
1     2  300.690450  17.340428  13.023382  10.773509
2     3  312.420094  17.675409  13.148901  10.742133
3     4  331.148859  18.197496  13.336438  10.720349
4     5  328.040043  18.111876  13.211483  10.578676
5     6  354.225680  18.820884  13.923406  11.047447

Processing input length: 264
Overall Evaluation Metrics:
MSE: 293.3791
RMSE: 17.1283
MAE: 12.7054
MAPE: 9.96%

   step         MSE       RMSE        MAE       MAPE
0     1  242.305716  15.566172  11.896001   9.656005
1     2  273.274179  16.531007  12.235684   9.720681
2     3  287.483249  16.955331  12.703252   9.992605
3     4  304.666622  17.454702  12.843426   9.958384
4     5  319.439398  17.872868  13.037480   9.995600
5     6  333.105381  18.251175  13.516599  10.444256

Processing input length: 288
Overall Evaluation Metrics:
MSE: 242.0312
RMSE: 15.5574
MAE: 11.7416
MAPE: 9.21%

   step         MSE       RMSE        MAE      MAPE
0     1  220.226596  14.840034  11.389209  8.941634
1     2  233.960281  15.295760  11.341831  8.991784
2     3  241.473585  15.539420  11.814545  9.272171
3     4  240.024215  15.492715  11.702856  9.205585
4     5  254.105843  15.940698  11.939620  9.352840
5     6  262.396972  16.198672  12.261278  9.486941

Processing input length: 312
Overall Evaluation Metrics:
MSE: 236.2011
RMSE: 15.3688
MAE: 11.5101
MAPE: 9.05%

   step         MSE       RMSE        MAE      MAPE
0     1  217.269125  14.740052  11.239028  8.861908
1     2  220.618331  14.853226  10.991342  8.675473
2     3  227.173656  15.072281  11.390865  9.002196
3     4  240.718522  15.515106  11.549971  9.053311
4     5  249.514111  15.796016  11.796378  9.211827
5     6  261.913025  16.183727  12.093059  9.472595

Processing input length: 336
Overall Evaluation Metrics:
MSE: 194.0003
RMSE: 13.9284
MAE: 10.3058
MAPE: 8.15%

   step         MSE       RMSE        MAE      MAPE
0     1  199.022215  14.107523  10.634807  8.479857
1     2  198.194070  14.078142  10.240919  8.081983
2     3  185.526569  13.620814  10.178867  7.971145
3     4  189.266880  13.757430  10.101103  7.950433
4     5  190.983249  13.819669  10.236664  8.045851
5     6  201.008576  14.177749  10.442337  8.346306

Processing input length: 360
Overall Evaluation Metrics:
MSE: 156.4419
RMSE: 12.5077
MAE: 9.1827
MAPE: 7.35%

   step         MSE       RMSE       MAE      MAPE
0     1  146.263648  12.093951  9.049300  7.283420
1     2  148.026706  12.166623  8.798167  7.022456
2     3  150.833133  12.281414  9.066993  7.257054
3     4  161.896510  12.723856  9.220784  7.389334
4     5  163.523229  12.787620  9.371302  7.484531
5     6  168.108289  12.965658  9.589893  7.670892

Processing input length: 384
Overall Evaluation Metrics:
MSE: 135.4158
RMSE: 11.6368
MAE: 8.6492
MAPE: 6.90%

   step         MSE       RMSE       MAE      MAPE
0     1  125.091267  11.184421  8.549500  6.805509
1     2  126.996205  11.269259  8.364597  6.702645
2     3  135.211454  11.628046  8.558931  6.770546
3     4  137.134913  11.710462  8.554262  6.840642
4     5  139.180915  11.797496  8.793803  7.030402
5     6  148.880066  12.201642  9.074265  7.237174

Processing input length: 408
Overall Evaluation Metrics:
MSE: 132.6536
RMSE: 11.5175
MAE: 8.6440
MAPE: 6.91%

   step         MSE       RMSE       MAE      MAPE
0     1  127.320829  11.283653  8.642432  6.859598
1     2  122.231628  11.055841  8.334114  6.695098
2     3  130.452704  11.421589  8.598080  6.795522
3     4  141.661092  11.902147  8.747837  7.003212
4     5  130.176029  11.409471  8.654777  6.932460
5     6  144.079377  12.003307  8.886845  7.186495

Processing input length: 432
Overall Evaluation Metrics:
MSE: 126.0884
RMSE: 11.2289
MAE: 8.3214
MAPE: 6.64%

   step         MSE       RMSE       MAE      MAPE
0     1  119.482621  10.930811  8.287731  6.610832
1     2  124.193971  11.144235  8.325890  6.612026
2     3  122.033193  11.046863  8.108993  6.467546
3     4  132.831870  11.525271  8.547608  6.808421
4     5  127.831185  11.306245  8.220808  6.610191
5     6  130.157782  11.408671  8.437564  6.756920

Processing input length: 456
Overall Evaluation Metrics:
MSE: 123.0656
RMSE: 11.0935
MAE: 8.1599
MAPE: 6.47%

   step         MSE       RMSE       MAE      MAPE
0     1  112.643512  10.613365  7.989826  6.271104
1     2  126.185911  11.233250  8.324241  6.569829
2     3  115.317446  10.738596  7.822439  6.256136
3     4  126.532408  11.248662  8.173078  6.546453
4     5  128.209276  11.322954  8.344249  6.607726
5     6  129.504827  11.380019  8.305833  6.598610

Processing input length: 480
Overall Evaluation Metrics:
MSE: 124.9269
RMSE: 11.1771
MAE: 8.1488
MAPE: 6.44%

   step         MSE       RMSE       MAE      MAPE
0     1  118.531720  10.887227  8.227408  6.569857
1     2  124.948667  11.178044  8.112379  6.453574
2     3  115.857790  10.763726  7.803436  6.215820
3     4  124.255089  11.146977  8.067185  6.315371
4     5  133.949805  11.573669  8.323854  6.549983
5     6  132.018558  11.489933  8.358613  6.545076

Processing input length: 504
Overall Evaluation Metrics:
MSE: 127.9418
RMSE: 11.3111
MAE: 8.2974
MAPE: 6.48%

   step         MSE       RMSE       MAE      MAPE
0     1  118.585872  10.889714  8.305800  6.464279
1     2  125.560417  11.205374  8.162517  6.345661
2     3  127.372392  11.285938  8.248281  6.470159
3     4  133.417823  11.550663  8.372309  6.537146
4     5  130.823030  11.437790  8.363706  6.549148
5     6  131.891063  11.484383  8.331810  6.488802

In [19]:
metrics_results(results_dict1)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 2244.3584
RMSE: 47.3747
MAE: 32.5315
MAPE: 34.92%

   step          MSE       RMSE        MAE       MAPE
0     1  1298.925490  36.040609  24.836219  25.205852
1     2  1872.780967  43.275639  29.960267  30.572911
2     3  2218.228326  47.098071  32.453996  33.784616
3     4  2444.599725  49.442894  34.219329  36.914544
4     5  2688.532095  51.851057  36.071117  40.515557
5     6  2943.084039  54.250199  37.648348  42.549825

Processing input length: 48
Overall Evaluation Metrics:
MSE: 1983.0282
RMSE: 44.5312
MAE: 29.4247
MAPE: 31.65%

   step          MSE       RMSE        MAE       MAPE
0     1  1228.491676  35.049846  23.609824  24.053533
1     2  1692.785605  41.143476  27.313469  28.002762
2     3  1962.360583  44.298539  29.500414  31.049345
3     4  2160.769397  46.484077  30.917706  33.515965
4     5  2348.487830  48.461199  32.146311  36.051962
5     6  2505.274328  50.052715  33.060712  37.223322

Processing input length: 72
Overall Evaluation Metrics:
MSE: 1942.6707
RMSE: 44.0757
MAE: 28.8227
MAPE: 30.52%

   step          MSE       RMSE        MAE       MAPE
0     1  1188.609135  34.476211  23.113054  23.546780
1     2  1670.267958  40.868912  26.936421  27.597051
2     3  1918.747645  43.803512  28.957471  30.205522
3     4  2138.377266  46.242591  30.415349  32.448856
4     5  2296.824008  47.925192  31.397986  34.093948
5     6  2443.197889  49.428715  32.115952  35.200370

Processing input length: 96
Overall Evaluation Metrics:
MSE: 1863.6288
RMSE: 43.1698
MAE: 28.0905
MAPE: 29.84%

   step          MSE       RMSE        MAE       MAPE
0     1  1172.671096  34.244286  22.943581  23.589328
1     2  1614.233775  40.177528  26.566240  27.643537
2     3  1856.800723  43.090611  28.351752  30.046317
3     4  2041.313736  45.180900  29.442441  31.424978
4     5  2169.123962  46.573855  30.244157  32.615059
5     6  2327.629354  48.245511  30.994993  33.721860

Processing input length: 120
Overall Evaluation Metrics:
MSE: 1792.4049
RMSE: 42.3368
MAE: 27.4833
MAPE: 29.35%

   step          MSE       RMSE        MAE       MAPE
0     1  1143.072514  33.809355  22.719814  23.674321
1     2  1572.556978  39.655479  25.954956  27.143977
2     3  1786.412711  42.265976  27.551118  29.151129
3     4  1938.601449  44.029552  28.730039  30.832648
4     5  2084.710802  45.658633  29.585885  32.064203
5     6  2229.075153  47.213082  30.357698  33.216423

Processing input length: 144
Overall Evaluation Metrics:
MSE: 1777.3215
RMSE: 42.1583
MAE: 27.1535
MAPE: 28.47%

   step          MSE       RMSE        MAE       MAPE
0     1  1139.555243  33.757299  22.591950  23.265582
1     2  1547.427891  39.337360  25.585157  26.324552
2     3  1771.162361  42.085180  27.336812  28.459789
3     4  1932.303248  43.957971  28.376446  29.778221
4     5  2059.085702  45.377150  29.132371  31.012998
5     6  2214.394331  47.057352  29.898389  31.997105

Processing input length: 168
Overall Evaluation Metrics:
MSE: 1758.6743
RMSE: 41.9366
MAE: 26.8179
MAPE: 28.10%

   step          MSE       RMSE        MAE       MAPE
0     1  1138.156593  33.736576  22.350763  23.138072
1     2  1540.205387  39.245451  25.257962  25.842409
2     3  1755.683682  41.900879  26.886293  28.163200
3     4  1898.189361  43.568215  28.002182  29.455020
4     5  2038.130234  45.145656  28.860047  30.736562
5     6  2181.680713  46.708465  29.550182  31.283568

Processing input length: 192
Overall Evaluation Metrics:
MSE: 1741.5044
RMSE: 41.7313
MAE: 26.2983
MAPE: 27.43%

   step          MSE       RMSE        MAE       MAPE
0     1  1141.945033  33.792677  22.200877  22.928050
1     2  1521.104096  39.001335  24.737240  25.673291
2     3  1732.719859  41.625952  26.228138  27.343507
3     4  1872.119461  43.267996  27.405679  28.725858
4     5  2015.684066  44.896370  28.244646  29.750590
5     6  2165.453753  46.534436  28.973238  30.161936

Processing input length: 216
Overall Evaluation Metrics:
MSE: 1704.5380
RMSE: 41.2861
MAE: 25.8895
MAPE: 27.12%

   step          MSE       RMSE        MAE       MAPE
0     1  1146.777344  33.864101  22.037416  22.920643
1     2  1506.747903  38.816851  24.439762  25.494680
2     3  1687.847158  41.083417  25.765952  27.002229
3     4  1820.139283  42.663090  27.003174  28.380848
4     5  1958.205606  44.251617  27.642539  29.106103
5     6  2107.510575  45.907631  28.448348  29.821019

Processing input length: 240
Overall Evaluation Metrics:
MSE: 1728.1266
RMSE: 41.5707
MAE: 25.8605
MAPE: 27.02%

   step          MSE       RMSE        MAE       MAPE
0     1  1169.579449  34.199115  22.193038  23.310440
1     2  1533.239656  39.156604  24.527527  25.439746
2     3  1725.486195  41.538972  25.814620  26.940210
3     4  1833.587676  42.820412  26.838634  28.237344
4     5  1986.351687  44.568506  27.667153  29.015973
5     6  2120.515035  46.049050  28.122321  29.192261

Processing input length: 264
Overall Evaluation Metrics:
MSE: 1729.2038
RMSE: 41.5837
MAE: 25.9263
MAPE: 27.25%

   step          MSE       RMSE        MAE       MAPE
0     1  1162.642023  34.097537  22.227215  23.179750
1     2  1528.593449  39.097231  24.590066  25.672872
2     3  1721.600406  41.492173  25.987629  27.470727
3     4  1847.931358  42.987572  27.039351  28.561237
4     5  1985.547800  44.559486  27.601274  29.101982
5     6  2128.907725  46.140088  28.111972  29.540201

Processing input length: 288
Overall Evaluation Metrics:
MSE: 1740.1705
RMSE: 41.7154
MAE: 25.9455
MAPE: 27.24%

   step          MSE       RMSE        MAE       MAPE
0     1  1172.230326  34.237849  22.328282  23.526761
1     2  1535.766091  39.188852  24.647504  25.786177
2     3  1724.287072  41.524536  25.927535  27.370643
3     4  1852.409582  43.039628  26.884475  28.149371
4     5  2000.879075  44.731187  27.579581  28.977964
5     6  2155.450641  46.426831  28.305576  29.635730

Processing input length: 312
Overall Evaluation Metrics:
MSE: 1748.8212
RMSE: 41.8189
MAE: 25.9442
MAPE: 27.36%

   step          MSE       RMSE        MAE       MAPE
0     1  1179.390565  34.342256  22.368898  23.501674
1     2  1545.411154  39.311718  24.659516  25.847183
2     3  1730.823508  41.603167  25.806727  27.283469
3     4  1856.648709  43.088847  26.864353  28.492371
4     5  2003.607113  44.761670  27.617328  29.215561
5     6  2177.046055  46.658826  28.348498  29.823119

Processing input length: 336
Overall Evaluation Metrics:
MSE: 1767.0654
RMSE: 42.0365
MAE: 26.0081
MAPE: 27.36%

   step          MSE       RMSE        MAE       MAPE
0     1  1190.365151  34.501669  22.444688  23.628431
1     2  1559.172990  39.486365  24.745742  25.833143
2     3  1743.325817  41.753153  25.865466  27.386331
3     4  1870.893614  43.253828  26.884414  28.379511
4     5  2028.657530  45.040621  27.658445  29.201481
5     6  2209.977340  47.010396  28.449564  29.759599

Processing input length: 360
Overall Evaluation Metrics:
MSE: 1813.3502
RMSE: 42.5834
MAE: 26.1922
MAPE: 27.60%

   step          MSE       RMSE        MAE       MAPE
0     1  1214.706202  34.852636  22.525204  23.793606
1     2  1587.800491  39.847214  24.818946  25.945091
2     3  1779.534225  42.184526  25.959793  27.246273
3     4  1924.120654  43.864800  27.178029  28.892975
4     5  2094.469090  45.765370  27.976624  29.793759
5     6  2279.470400  47.743800  28.694717  29.915714

Processing input length: 384
Overall Evaluation Metrics:
MSE: 1876.2945
RMSE: 43.3162
MAE: 26.5326
MAPE: 27.82%

   step          MSE       RMSE        MAE       MAPE
0     1  1253.336216  35.402489  22.860200  24.388012
1     2  1645.388458  40.563388  25.200272  26.163904
2     3  1838.758946  42.880753  26.327125  27.842176
3     4  1993.413856  44.647663  27.599883  29.123390
4     5  2171.288867  46.597091  28.243551  29.503564
5     6  2355.580488  48.534323  28.964287  29.871930

Processing input length: 408
Overall Evaluation Metrics:
MSE: 1923.6861
RMSE: 43.8598
MAE: 26.8654
MAPE: 27.93%

   step          MSE       RMSE        MAE       MAPE
0     1  1274.606062  35.701625  23.042388  24.465967
1     2  1685.704041  41.057326  25.541609  26.625247
2     3  1883.496815  43.399272  26.680232  27.666063
3     4  2038.803371  45.153110  27.826436  28.967102
4     5  2237.119224  47.298195  28.696318  29.744362
5     6  2422.386910  49.217750  29.405519  30.119503

Processing input length: 432
Overall Evaluation Metrics:
MSE: 1969.4215
RMSE: 44.3782
MAE: 27.1115
MAPE: 27.92%

   step          MSE       RMSE        MAE       MAPE
0     1  1298.617116  36.036330  23.268294  24.406422
1     2  1718.667302  41.456812  25.638836  26.430744
2     3  1930.861004  43.941564  26.979117  27.778777
3     4  2085.840006  45.670997  28.079224  28.842613
4     5  2289.562276  47.849371  28.957043  29.874353
5     6  2492.981428  49.929765  29.746658  30.163476

Processing input length: 456
Overall Evaluation Metrics:
MSE: 1894.4605
RMSE: 43.5254
MAE: 26.9274
MAPE: 27.98%

   step          MSE       RMSE        MAE       MAPE
0     1  1264.968015  35.566389  23.156213  24.350749
1     2  1652.333501  40.648905  25.504075  26.445103
2     3  1858.085688  43.105518  26.743992  27.989781
3     4  2002.117203  44.745024  27.900457  29.046560
4     5  2204.218185  46.949102  28.776862  29.816418
5     6  2385.040383  48.836875  29.482630  30.216758

Processing input length: 480
Overall Evaluation Metrics:
MSE: 1842.4510
RMSE: 42.9238
MAE: 26.7291
MAPE: 28.31%

   step          MSE       RMSE        MAE       MAPE
0     1  1257.523947  35.461584  23.087470  24.961110
1     2  1616.415918  40.204675  25.323669  26.610397
2     3  1772.095518  42.096265  26.394914  27.969531
3     4  1933.834970  43.975391  27.699889  29.379341
4     5  2137.631901  46.234531  28.541039  30.215299
5     6  2337.203824  48.344636  29.327807  30.705733

Processing input length: 504
Overall Evaluation Metrics:
MSE: 1791.0273
RMSE: 42.3205
MAE: 26.3427
MAPE: 28.33%

   step          MSE       RMSE        MAE       MAPE
0     1  1196.260967  34.587006  22.731666  24.706446
1     2  1549.590049  39.364833  24.911869  26.876933
2     3  1743.809106  41.758940  26.195813  28.279447
3     4  1905.411670  43.651021  27.384830  29.438044
4     5  2073.165488  45.532027  28.004695  30.075250
5     6  2277.926480  47.727628  28.827535  30.600878

In [20]:
metrics_results(results_dict2)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 2086.5086
RMSE: 45.6783
MAE: 31.2590
MAPE: 34.09%

   step          MSE       RMSE        MAE       MAPE
0     1  1215.011888  34.857021  24.124751  24.912342
1     2  1747.403118  41.801951  28.886207  30.104729
2     3  2045.393675  45.226029  31.163016  33.148319
3     4  2267.964678  47.623153  32.855978  36.140566
4     5  2516.556947  50.165296  34.569557  39.169995
5     6  2726.721417  52.218018  35.954516  41.038699

Processing input length: 48
Overall Evaluation Metrics:
MSE: 1980.3288
RMSE: 44.5009
MAE: 29.4049
MAPE: 32.03%

   step          MSE       RMSE        MAE       MAPE
0     1  1214.392470  34.848134  23.416480  24.400909
1     2  1682.410536  41.017198  27.237153  28.599080
2     3  1957.102909  44.239156  29.455704  31.690442
3     4  2145.946666  46.324364  30.948756  34.080024
4     5  2352.757886  48.505236  32.173798  36.168708
5     6  2529.362245  50.292765  33.197763  37.270662

Processing input length: 72
Overall Evaluation Metrics:
MSE: 1923.9962
RMSE: 43.8634
MAE: 28.6557
MAPE: 31.16%

   step          MSE       RMSE        MAE       MAPE
0     1  1173.398246  34.254901  23.021427  23.797548
1     2  1625.640557  40.319233  26.619106  27.873110
2     3  1877.800743  43.333598  28.596437  30.648773
3     4  2108.525005  45.918678  30.168413  33.252201
4     5  2299.940073  47.957690  31.331198  35.094778
5     6  2458.672635  49.585004  32.197579  36.303742

Processing input length: 96
Overall Evaluation Metrics:
MSE: 1869.1398
RMSE: 43.2335
MAE: 27.8135
MAPE: 29.71%

   step          MSE       RMSE        MAE       MAPE
0     1  1168.288577  34.180237  22.776623  23.390735
1     2  1595.453282  39.943126  26.017152  27.037787
2     3  1841.115415  42.908221  27.889064  29.622000
3     4  2039.923054  45.165507  29.196347  31.394575
4     5  2216.914319  47.084120  30.167318  32.967992
5     6  2353.144410  48.509220  30.834440  33.874428

Processing input length: 120
Overall Evaluation Metrics:
MSE: 1797.0023
RMSE: 42.3911
MAE: 27.2301
MAPE: 29.42%

   step          MSE       RMSE        MAE       MAPE
0     1  1108.425346  33.293022  22.330460  23.600047
1     2  1528.720018  39.098849  25.494694  27.166968
2     3  1779.189321  42.180438  27.300827  29.400584
3     4  1960.746009  44.280312  28.545802  30.962660
4     5  2128.909069  46.140103  29.515440  32.216485
5     6  2276.023844  47.707692  30.193600  33.160572

Processing input length: 144
Overall Evaluation Metrics:
MSE: 1746.9753
RMSE: 41.7968
MAE: 26.6415
MAPE: 28.09%

   step          MSE       RMSE        MAE       MAPE
0     1  1101.838148  33.193947  22.163712  23.130644
1     2  1489.816872  38.598146  24.914001  26.051923
2     3  1721.229928  41.487708  26.620560  27.971923
3     4  1901.401829  43.605067  27.808019  29.344097
4     5  2062.885523  45.419000  28.775279  30.566992
5     6  2204.679517  46.954015  29.567588  31.480560

Processing input length: 168
Overall Evaluation Metrics:
MSE: 1694.2481
RMSE: 41.1612
MAE: 25.7026
MAPE: 26.72%

   step          MSE       RMSE        MAE       MAPE
0     1  1089.484963  33.007347  21.731055  22.720674
1     2  1460.180754  38.212312  24.276853  24.987344
2     3  1678.835317  40.973593  25.685036  26.747404
3     4  1826.867263  42.741868  26.694018  27.713449
4     5  1980.857618  44.506827  27.594939  28.827776
5     6  2129.262409  46.143931  28.233934  29.325470

Processing input length: 192
Overall Evaluation Metrics:
MSE: 1669.7997
RMSE: 40.8632
MAE: 25.1995
MAPE: 25.96%

   step          MSE       RMSE        MAE       MAPE
0     1  1083.687425  32.919408  21.461401  22.331721
1     2  1449.151935  38.067728  23.824227  24.808521
2     3  1644.455569  40.551887  25.027317  25.777790
3     4  1799.217065  42.417179  26.167655  26.992189
4     5  1949.790146  44.156428  26.998393  27.660133
5     6  2092.495811  45.743806  27.717970  28.184501

Processing input length: 216
Overall Evaluation Metrics:
MSE: 1664.6786
RMSE: 40.8005
MAE: 25.1062
MAPE: 25.98%

   step          MSE       RMSE        MAE       MAPE
0     1  1095.327223  33.095728  21.433805  22.312657
1     2  1445.072734  38.014112  23.640043  24.684346
2     3  1633.010185  40.410521  24.959568  25.791013
3     4  1782.698486  42.222014  26.138282  26.972591
4     5  1942.998611  44.079458  26.898358  27.813924
5     6  2088.964282  45.705189  27.567088  28.305755

Processing input length: 240
Overall Evaluation Metrics:
MSE: 1686.6883
RMSE: 41.0693
MAE: 25.2342
MAPE: 25.86%

   step          MSE       RMSE        MAE       MAPE
0     1  1097.387539  33.126840  21.621675  22.800679
1     2  1455.843056  38.155511  23.801450  24.453732
2     3  1659.400405  40.735739  25.073767  25.730133
3     4  1815.520592  42.608926  26.171889  26.806554
4     5  1976.466278  44.457466  27.162432  27.587240
5     6  2115.511851  45.994694  27.574186  27.802987

Processing input length: 264
Overall Evaluation Metrics:
MSE: 1673.5509
RMSE: 40.9091
MAE: 25.1653
MAPE: 25.82%

   step          MSE       RMSE        MAE       MAPE
0     1  1080.911247  32.877215  21.604993  22.461353
1     2  1449.873408  38.077203  23.822386  24.547672
2     3  1648.705974  40.604261  25.139331  25.882908
3     4  1809.979288  42.543851  26.128638  26.730803
4     5  1945.780525  44.111002  26.846004  27.330891
5     6  2106.054687  45.891771  27.450215  27.963257

Processing input length: 288
Overall Evaluation Metrics:
MSE: 1708.8964
RMSE: 41.3388
MAE: 25.2844
MAPE: 25.82%

   step          MSE       RMSE        MAE       MAPE
0     1  1108.936667  33.300701  21.722584  22.757378
1     2  1474.506787  38.399307  23.818521  24.561354
2     3  1675.023092  40.927046  25.161403  25.699320
3     4  1831.150893  42.791949  26.228813  26.637556
4     5  1995.279562  44.668552  27.003275  27.251553
5     6  2168.481180  46.566954  27.771943  27.999087

Processing input length: 312
Overall Evaluation Metrics:
MSE: 1687.5317
RMSE: 41.0796
MAE: 25.1663
MAPE: 26.05%

   step          MSE       RMSE        MAE       MAPE
0     1  1102.722929  33.207272  21.674679  22.697138
1     2  1472.801515  38.377096  23.951726  24.843316
2     3  1648.582676  40.602742  24.891783  25.729642
3     4  1797.793335  42.400393  26.002225  27.072833
4     5  1962.877647  44.304375  26.850262  27.727169
5     6  2140.411815  46.264585  27.627053  28.207851

Processing input length: 336
Overall Evaluation Metrics:
MSE: 1745.3266
RMSE: 41.7771
MAE: 25.3533
MAPE: 26.00%

   step          MSE       RMSE        MAE       MAPE
0     1  1132.346141  33.650351  21.831909  22.816440
1     2  1527.237550  39.079887  24.040983  24.769605
2     3  1715.300662  41.416188  25.161072  25.698160
3     4  1848.019010  42.988592  26.187836  26.801862
4     5  2032.659495  45.085025  27.086710  27.625120
5     6  2216.396945  47.078625  27.811469  28.297366

Processing input length: 360
Overall Evaluation Metrics:
MSE: 1780.7827
RMSE: 42.1993
MAE: 25.4865
MAPE: 26.37%

   step          MSE       RMSE        MAE       MAPE
0     1  1168.869920  34.188740  22.018112  23.224557
1     2  1548.457557  39.350445  24.173973  24.997905
2     3  1727.599395  41.564401  25.167771  25.745582
3     4  1890.197853  43.476406  26.334530  27.364395
4     5  2080.491194  45.612402  27.223857  28.225205
5     6  2269.080414  47.634866  28.000614  28.632998

Processing input length: 384
Overall Evaluation Metrics:
MSE: 1820.5945
RMSE: 42.6684
MAE: 25.7491
MAPE: 26.48%

   step          MSE       RMSE        MAE       MAPE
0     1  1180.495354  34.358337  22.220134  23.551679
1     2  1583.000060  39.786933  24.426876  25.223761
2     3  1764.279254  42.003324  25.417362  26.069062
3     4  1930.088980  43.932778  26.641028  27.226967
4     5  2144.807696  46.312069  27.575033  28.260070
5     6  2320.895607  48.175674  28.214258  28.543888

Processing input length: 408
Overall Evaluation Metrics:
MSE: 1862.0844
RMSE: 43.1519
MAE: 26.0297
MAPE: 26.66%

   step          MSE       RMSE        MAE       MAPE
0     1  1195.498305  34.575979  22.353391  23.596570
1     2  1615.268983  40.190409  24.740684  25.731138
2     3  1796.838020  42.389126  25.679126  26.310362
3     4  1979.792075  44.494854  26.928721  27.176803
4     5  2188.842436  46.785066  27.856396  28.247298
5     6  2396.266818  48.951678  28.619970  28.869399

Processing input length: 432
Overall Evaluation Metrics:
MSE: 1920.6030
RMSE: 43.8247
MAE: 26.3199
MAPE: 26.72%

   step          MSE       RMSE        MAE       MAPE
0     1  1224.755751  34.996511  22.513397  23.441864
1     2  1660.511621  40.749376  24.854374  25.532896
2     3  1860.768546  43.136626  26.066521  26.442465
3     4  2054.491287  45.326497  27.397991  27.569972
4     5  2255.485887  47.491956  28.119920  28.444268
5     6  2467.604889  49.674993  28.967395  28.879271

Processing input length: 456
Overall Evaluation Metrics:
MSE: 1811.2340
RMSE: 42.5586
MAE: 26.0085
MAPE: 26.76%

   step          MSE       RMSE        MAE       MAPE
0     1  1180.975390  34.365322  22.348165  23.473719
1     2  1580.355787  39.753689  24.621761  25.446610
2     3  1774.711373  42.127323  25.865467  26.664426
3     4  1922.643078  43.847954  27.001984  27.666409
4     5  2108.230054  45.915466  27.695989  28.354356
5     6  2300.488194  47.963405  28.517455  28.967681

Processing input length: 480
Overall Evaluation Metrics:
MSE: 1744.0530
RMSE: 41.7619
MAE: 25.8040
MAPE: 27.11%

   step          MSE       RMSE        MAE       MAPE
0     1  1169.365802  34.195991  22.326325  24.000803
1     2  1537.969576  39.216955  24.531668  25.567937
2     3  1683.447513  41.029837  25.525544  26.794544
3     4  1851.575251  43.029934  26.866046  28.191160
4     5  2029.944806  45.054909  27.479855  28.885199
5     6  2192.014907  46.818959  28.094608  29.205075

Processing input length: 504
Overall Evaluation Metrics:
MSE: 1671.3130
RMSE: 40.8817
MAE: 25.2216
MAPE: 26.93%

   step          MSE       RMSE        MAE       MAPE
0     1  1122.489860  33.503580  21.924853  23.942785
1     2  1471.060913  38.354412  24.042875  25.981146
2     3  1623.280929  40.289961  25.059078  26.778167
3     4  1774.265417  42.122030  26.168286  27.658091
4     5  1937.817169  44.020645  26.647516  28.296992
5     6  2098.964011  45.814452  27.487244  28.940789

In [21]:
metrics_results(results_dict3)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 2100.1813
RMSE: 45.8277
MAE: 31.4836
MAPE: 34.76%

   step          MSE       RMSE        MAE       MAPE
0     1  1209.548594  34.778565  24.128148  24.844088
1     2  1770.291427  42.074831  29.180957  30.602435
2     3  2067.106848  45.465447  31.404846  33.905339
3     4  2281.604012  47.766139  32.992781  36.934805
4     5  2526.081063  50.260134  34.921466  40.095420
5     6  2746.455690  52.406638  36.273603  42.194477

Processing input length: 48
Overall Evaluation Metrics:
MSE: 1958.9268
RMSE: 44.2598
MAE: 29.3186
MAPE: 32.27%

   step          MSE       RMSE        MAE       MAPE
0     1  1197.716321  34.608038  23.281632  24.252554
1     2  1658.924943  40.729902  27.028421  28.482915
2     3  1930.224810  43.934324  29.271749  31.818382
3     4  2135.008216  46.206149  30.920144  34.445606
4     5  2321.927148  48.186379  32.212275  36.656681
5     6  2509.759362  50.097499  33.197190  37.960949

Processing input length: 72
Overall Evaluation Metrics:
MSE: 1911.3553
RMSE: 43.7190
MAE: 28.4486
MAPE: 30.39%

   step          MSE       RMSE        MAE       MAPE
0     1  1177.835558  34.319609  22.941628  23.629314
1     2  1627.765720  40.345579  26.467620  27.465396
2     3  1873.614427  43.285268  28.435738  30.146418
3     4  2095.649067  45.778260  29.965741  32.378755
4     5  2274.368171  47.690336  31.090396  33.845867
5     6  2418.898999  49.182304  31.790604  34.889412

Processing input length: 96
Overall Evaluation Metrics:
MSE: 1910.3341
RMSE: 43.7074
MAE: 27.7715
MAPE: 29.47%

   step          MSE       RMSE        MAE       MAPE
0     1  1180.943482  34.364858  22.630761  23.223060
1     2  1604.711729  40.058853  25.865744  26.888822
2     3  1873.171193  43.280148  27.793902  29.584788
3     4  2094.724292  45.768158  29.253734  31.322516
4     5  2279.726261  47.746479  30.214206  32.532843
5     6  2428.727903  49.282126  30.870453  33.248244

Processing input length: 120
Overall Evaluation Metrics:
MSE: 1805.2423
RMSE: 42.4881
MAE: 26.9597
MAPE: 28.47%

   step          MSE       RMSE        MAE       MAPE
0     1  1108.870963  33.299714  22.267672  23.319416
1     2  1528.931809  39.101558  25.139887  26.275061
2     3  1784.830518  42.247255  26.984085  28.362293
3     4  1975.155026  44.442716  28.307650  29.996170
4     5  2157.263631  46.446352  29.226206  30.972143
5     6  2276.401855  47.711653  29.832967  31.878022

Processing input length: 144
Overall Evaluation Metrics:
MSE: 1745.9017
RMSE: 41.7840
MAE: 26.2297
MAPE: 27.19%

   step          MSE       RMSE        MAE       MAPE
0     1  1105.878539  33.254752  22.033739  22.787704
1     2  1492.442501  38.632143  24.551436  25.245093
2     3  1725.341666  41.537232  26.117706  26.945329
3     4  1900.632496  43.596244  27.334428  28.325715
4     5  2067.660515  45.471535  28.370996  29.602724
5     6  2183.454745  46.727452  28.970187  30.241168

Processing input length: 168
Overall Evaluation Metrics:
MSE: 1693.8326
RMSE: 41.1562
MAE: 25.5083
MAPE: 26.67%

   step          MSE       RMSE        MAE       MAPE
0     1  1090.674512  33.025362  21.642621  22.577942
1     2  1457.709125  38.179957  23.963919  24.641926
2     3  1688.560028  41.092092  25.462093  26.702976
3     4  1832.831668  42.811583  26.527539  27.934086
4     5  1986.182588  44.566608  27.424497  28.860298
5     6  2107.037791  45.902481  28.029148  29.319111

Processing input length: 192
Overall Evaluation Metrics:
MSE: 1667.0357
RMSE: 40.8293
MAE: 24.9127
MAPE: 26.05%

   step          MSE       RMSE        MAE       MAPE
0     1  1093.413438  33.066803  21.229092  22.267477
1     2  1454.462121  38.137411  23.451318  24.545531
2     3  1660.570170  40.750094  24.778267  25.976333
3     4  1796.865339  42.389448  25.911303  27.318412
4     5  1939.749950  44.042592  26.725106  27.898726
5     6  2057.153184  45.355851  27.381221  28.264394

Processing input length: 216
Overall Evaluation Metrics:
MSE: 1628.9552
RMSE: 40.3603
MAE: 24.5835
MAPE: 25.61%

   step          MSE       RMSE        MAE       MAPE
0     1  1089.659171  33.009986  21.104696  22.111313
1     2  1423.104729  37.724060  23.165223  24.156042
2     3  1611.071704  40.138158  24.386261  25.443786
3     4  1748.102217  41.810312  25.604126  26.723443
4     5  1891.039235  43.486081  26.317754  27.410012
5     6  2010.753909  44.841431  26.922896  27.842948

Processing input length: 240
Overall Evaluation Metrics:
MSE: 1653.2308
RMSE: 40.6599
MAE: 24.6257
MAPE: 25.60%

   step          MSE       RMSE        MAE       MAPE
0     1  1097.103541  33.122553  21.267930  22.642871
1     2  1442.004141  37.973730  23.195081  24.017886
2     3  1640.093545  40.498068  24.488824  25.566204
3     4  1774.784900  42.128196  25.536966  26.667246
4     5  1930.957844  43.942665  26.389648  27.161706
5     6  2034.440970  45.104778  26.875666  27.517240

Processing input length: 264
Overall Evaluation Metrics:
MSE: 1631.7717
RMSE: 40.3952
MAE: 24.4644
MAPE: 25.51%

   step          MSE       RMSE        MAE       MAPE
0     1  1073.333327  32.761766  21.073920  22.067402
1     2  1423.091369  37.723883  23.116124  24.115330
2     3  1601.677837  40.020967  24.394464  25.495358
3     4  1746.980201  41.796892  25.385832  26.509759
4     5  1902.243948  43.614722  26.104002  27.133436
5     6  2043.303406  45.202914  26.711944  27.726227

Processing input length: 288
Overall Evaluation Metrics:
MSE: 1638.1188
RMSE: 40.4737
MAE: 24.4839
MAPE: 25.54%

   step          MSE       RMSE        MAE       MAPE
0     1  1077.919261  32.831681  21.179485  22.513495
1     2  1424.989790  37.749037  23.113919  24.051329
2     3  1606.558666  40.081899  24.326796  25.413705
3     4  1747.285100  41.800539  25.297096  26.362788
4     5  1913.462786  43.743146  26.162107  27.102462
5     6  2058.496930  45.370662  26.824172  27.788278

Processing input length: 312
Overall Evaluation Metrics:
MSE: 1619.0777
RMSE: 40.2378
MAE: 24.3646
MAPE: 25.56%

   step          MSE       RMSE        MAE       MAPE
0     1  1067.561403  32.673558  21.079439  22.386805
1     2  1408.092657  37.524561  23.064286  24.219417
2     3  1583.695641  39.795674  24.141369  25.327989
3     4  1731.227660  41.608024  25.191469  26.484603
4     5  1886.092943  43.429172  26.013316  27.260839
5     6  2037.795810  45.141952  26.697877  27.698650

Processing input length: 336
Overall Evaluation Metrics:
MSE: 1666.7933
RMSE: 40.8264
MAE: 24.5675
MAPE: 25.75%

   step          MSE       RMSE        MAE       MAPE
0     1  1087.840932  32.982434  21.254765  22.561515
1     2  1438.093348  37.922201  23.171726  24.130851
2     3  1628.903614  40.359678  24.314058  25.476887
3     4  1769.919695  42.070414  25.343166  26.658431
4     5  1960.090389  44.272908  26.280889  27.518858
5     6  2115.911901  45.999042  27.040609  28.135690

Processing input length: 360
Overall Evaluation Metrics:
MSE: 1739.5712
RMSE: 41.7082
MAE: 24.9813
MAPE: 26.36%

   step          MSE       RMSE        MAE       MAPE
0     1  1125.071922  33.542092  21.515024  23.010350
1     2  1494.742710  38.661903  23.543712  24.717213
2     3  1689.285713  41.100921  24.712589  25.921422
3     4  1855.509997  43.075631  25.866147  27.344018
4     5  2049.252811  45.268674  26.748400  28.383646
5     6  2223.564252  47.154684  27.502103  28.754654

Processing input length: 384
Overall Evaluation Metrics:
MSE: 1785.6848
RMSE: 42.2574
MAE: 25.1776
MAPE: 26.26%

   step          MSE       RMSE        MAE       MAPE
0     1  1149.012042  33.897080  21.701723  23.139806
1     2  1531.426125  39.133440  23.719574  24.700168
2     3  1719.811704  41.470613  24.866975  25.811872
3     4  1904.965335  43.645909  26.015499  26.936378
4     5  2123.678696  46.083389  27.049379  28.308741
5     6  2285.215184  47.803924  27.712348  28.656701

Processing input length: 408
Overall Evaluation Metrics:
MSE: 1832.9846
RMSE: 42.8134
MAE: 25.5987
MAPE: 26.43%

   step          MSE       RMSE        MAE       MAPE
0     1  1167.316985  34.166021  21.971522  23.276646
1     2  1566.319367  39.576753  24.161123  25.098935
2     3  1761.621763  41.971678  25.260383  25.927058
3     4  1964.322763  44.320681  26.557746  27.182408
4     5  2172.031099  46.605054  27.407876  28.236546
5     6  2366.295455  48.644583  28.233475  28.831674

Processing input length: 432
Overall Evaluation Metrics:
MSE: 1886.4479
RMSE: 43.4333
MAE: 25.8527
MAPE: 26.64%

   step          MSE       RMSE        MAE       MAPE
0     1  1188.976081  34.481532  22.091419  23.332483
1     2  1621.035584  40.262086  24.354028  25.082041
2     3  1828.005937  42.755186  25.595707  26.310458
3     4  2019.164899  44.935119  26.810994  27.468283
4     5  2232.292117  47.247139  27.736079  28.688629
5     6  2429.212674  49.287044  28.528075  28.952623

Processing input length: 456
Overall Evaluation Metrics:
MSE: 1800.3319
RMSE: 42.4303
MAE: 25.6553
MAPE: 26.51%

   step          MSE       RMSE        MAE       MAPE
0     1  1168.046474  34.176695  22.069852  23.261198
1     2  1549.483013  39.363473  24.193759  24.956476
2     3  1754.301085  41.884378  25.462362  26.384552
3     4  1912.601312  43.733298  26.570398  27.395280
4     5  2118.022435  46.021978  27.497114  28.394005
5     6  2299.536871  47.953487  28.138350  28.698238

Processing input length: 480
Overall Evaluation Metrics:
MSE: 1745.7989
RMSE: 41.7828
MAE: 25.4222
MAPE: 26.84%

   step          MSE       RMSE        MAE       MAPE
0     1  1160.676038  34.068696  21.994205  23.861059
1     2  1518.239437  38.964592  24.002245  25.093460
2     3  1687.711178  41.081762  25.196968  26.458411
3     4  1843.763561  42.939068  26.370952  27.795092
4     5  2051.960266  45.298568  27.169250  28.924441
5     6  2212.443076  47.036614  27.799669  28.880422

Processing input length: 504
Overall Evaluation Metrics:
MSE: 1648.3853
RMSE: 40.6003
MAE: 24.7163
MAPE: 26.38%

   step          MSE       RMSE        MAE       MAPE
0     1  1102.670535  33.206483  21.487262  23.456025
1     2  1429.250149  37.805425  23.351578  24.998906
2     3  1608.205293  40.102435  24.649119  26.207913
3     4  1758.728632  41.937199  25.568884  27.042962
4     5  1920.163911  43.819675  26.228371  28.035598
5     6  2071.293381  45.511464  27.012537  28.535548

In [22]:
metrics_results(results_dict4)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 2115.9591
RMSE: 45.9996
MAE: 31.5710
MAPE: 34.65%

   step          MSE       RMSE        MAE       MAPE
0     1  1180.119803  34.352872  23.687548  24.698520
1     2  1745.715069  41.781755  28.866582  30.266106
2     3  2056.349401  45.346989  31.245471  33.424009
3     4  2313.074124  48.094429  33.375681  36.895048
4     5  2584.344184  50.836445  35.457268  40.226419
5     6  2816.152126  53.067430  36.793250  42.407413

Processing input length: 48
Overall Evaluation Metrics:
MSE: 1939.9509
RMSE: 44.0449
MAE: 28.9413
MAPE: 31.77%

   step          MSE       RMSE        MAE       MAPE
0     1  1157.103953  34.016231  22.950045  24.016099
1     2  1637.420690  40.465055  26.761298  28.245351
2     3  1908.747192  43.689211  28.903043  31.015182
3     4  2128.249114  46.132950  30.594914  33.803685
4     5  2318.297459  48.148702  31.767176  36.207473
5     6  2489.886766  49.898765  32.671605  37.325170

Processing input length: 72
Overall Evaluation Metrics:
MSE: 1875.2066
RMSE: 43.3037
MAE: 28.0393
MAPE: 30.67%

   step          MSE       RMSE        MAE       MAPE
0     1  1140.909193  33.777347  22.626153  23.794013
1     2  1586.983201  39.836958  25.984210  27.675830
2     3  1835.790691  42.846128  27.962099  30.104259
3     4  2051.315776  45.291454  29.514949  32.557523
4     5  2241.282437  47.342185  30.637221  34.450795
5     6  2394.958439  48.938313  31.511025  35.427296

Processing input length: 96
Overall Evaluation Metrics:
MSE: 1807.9144
RMSE: 42.5196
MAE: 27.0820
MAPE: 29.29%

   step          MSE       RMSE        MAE       MAPE
0     1  1132.500608  33.652646  22.316424  23.122128
1     2  1549.545508  39.364267  25.312035  26.638317
2     3  1791.009848  42.320324  27.158207  29.087623
3     4  1981.121269  44.509788  28.382838  30.824007
4     5  2124.653250  46.093961  29.300358  32.436578
5     6  2268.655794  47.630408  30.021906  33.602010

Processing input length: 120
Overall Evaluation Metrics:
MSE: 1740.6065
RMSE: 41.7206
MAE: 26.4227
MAPE: 28.32%

   step          MSE       RMSE        MAE       MAPE
0     1  1103.417425  33.217728  22.048890  23.235743
1     2  1505.706376  38.803433  24.869408  26.075760
2     3  1724.536718  41.527542  26.430405  27.985099
3     4  1885.567823  43.423125  27.545001  29.597520
4     5  2045.063407  45.222377  28.486261  30.976080
5     6  2179.347029  46.683477  29.155960  32.069452

Processing input length: 144
Overall Evaluation Metrics:
MSE: 1686.6170
RMSE: 41.0684
MAE: 25.7611
MAPE: 27.09%

   step          MSE       RMSE        MAE       MAPE
0     1  1074.110910  32.773631  21.699419  22.632113
1     2  1470.163060  38.342705  24.317385  25.170902
2     3  1664.783432  40.801758  25.638544  26.763152
3     4  1827.163651  42.745335  26.775451  28.255364
4     5  1977.166619  44.465342  27.709686  29.338142
5     6  2106.314394  45.894601  28.425949  30.352020

Processing input length: 168
Overall Evaluation Metrics:
MSE: 1642.8784
RMSE: 40.5324
MAE: 24.9784
MAPE: 25.96%

   step          MSE       RMSE        MAE       MAPE
0     1  1059.529288  32.550411  21.257473  22.201210
1     2  1432.700381  37.851029  23.573112  23.933322
2     3  1632.288337  40.401588  24.832647  25.812670
3     4  1772.047387  42.095693  25.897279  27.144024
4     5  1919.282655  43.809618  26.848814  28.097040
5     6  2041.422105  45.182099  27.460985  28.599868

Processing input length: 192
Overall Evaluation Metrics:
MSE: 1619.8160
RMSE: 40.2469
MAE: 24.5005
MAPE: 25.35%

   step          MSE       RMSE        MAE       MAPE
0     1  1050.931362  32.418072  20.878987  21.663946
1     2  1427.686714  37.784742  23.221274  23.917919
2     3  1617.397961  40.216887  24.411356  25.189373
3     4  1746.173762  41.787244  25.386102  26.466452
4     5  1879.127791  43.348908  26.263608  27.224873
5     6  1997.578353  44.694277  26.841831  27.656699

Processing input length: 216
Overall Evaluation Metrics:
MSE: 1592.3702
RMSE: 39.9045
MAE: 24.1943
MAPE: 25.00%

   step          MSE       RMSE        MAE       MAPE
0     1  1040.772131  32.261000  20.789297  21.731454
1     2  1408.069674  37.524254  22.902402  23.493309
2     3  1574.908352  39.685115  23.925950  24.668470
3     4  1703.933361  41.278728  25.012277  25.853117
4     5  1849.265247  43.003084  25.943614  26.866305
5     6  1977.272478  44.466532  26.592467  27.373783

Processing input length: 240
Overall Evaluation Metrics:
MSE: 1633.5293
RMSE: 40.4169
MAE: 24.3843
MAPE: 25.27%

   step          MSE       RMSE        MAE       MAPE
0     1  1064.124728  32.620925  20.980321  22.086039
1     2  1431.541241  37.835714  23.089605  23.761175
2     3  1619.502469  40.243042  24.187147  25.042641
3     4  1748.661069  41.816995  25.246006  26.347546
4     5  1908.116668  43.681995  26.143077  27.072589
5     6  2029.229645  45.046972  26.659665  27.280363

Processing input length: 264
Overall Evaluation Metrics:
MSE: 1617.8959
RMSE: 40.2231
MAE: 24.2828
MAPE: 25.49%

   step          MSE       RMSE        MAE       MAPE
0     1  1048.238869  32.376517  20.926350  21.975865
1     2  1430.734539  37.825052  23.137244  24.080889
2     3  1599.278588  39.990981  24.088746  25.358148
3     4  1734.959319  41.652843  25.115782  26.501764
4     5  1875.257428  43.304243  25.957218  27.297238
5     6  2018.906623  44.932245  26.471164  27.738446

Processing input length: 288
Overall Evaluation Metrics:
MSE: 1626.4568
RMSE: 40.3294
MAE: 24.1972
MAPE: 25.22%

   step          MSE       RMSE        MAE       MAPE
0     1  1057.629669  32.521219  20.945152  22.113556
1     2  1421.583916  37.703898  22.979860  24.018169
2     3  1604.492243  40.056114  23.951235  24.952615
3     4  1737.720234  41.685972  24.989500  25.990449
4     5  1891.575533  43.492247  25.802817  26.668288
5     6  2045.739157  45.229848  26.514687  27.591235

Processing input length: 312
Overall Evaluation Metrics:
MSE: 1601.6369
RMSE: 40.0205
MAE: 24.0498
MAPE: 25.31%

   step          MSE       RMSE        MAE       MAPE
0     1  1044.998894  32.326443  20.808142  21.943974
1     2  1405.693668  37.492582  22.930361  24.165398
2     3  1569.060095  39.611363  23.774682  24.953093
3     4  1701.025670  41.243492  24.751733  26.210859
4     5  1862.369615  43.155181  25.643282  26.972501
5     6  2026.673193  45.018587  26.390413  27.601838

Processing input length: 336
Overall Evaluation Metrics:
MSE: 1610.8752
RMSE: 40.1357
MAE: 23.9320
MAPE: 25.00%

   step          MSE       RMSE        MAE       MAPE
0     1  1056.712178  32.507110  20.878052  22.032757
1     2  1422.963131  37.722184  22.884476  23.751371
2     3  1579.281209  39.740171  23.605999  24.665394
3     4  1700.730814  41.239918  24.577670  25.812046
4     5  1875.766597  43.310121  25.398981  26.439147
5     6  2029.797110  45.053270  26.246649  27.303948

Processing input length: 360
Overall Evaluation Metrics:
MSE: 1672.1378
RMSE: 40.8918
MAE: 24.2529
MAPE: 25.28%

   step          MSE       RMSE        MAE       MAPE
0     1  1086.022647  32.954858  21.062355  22.275068
1     2  1460.190264  38.212436  23.014664  23.875446
2     3  1625.277599  40.314732  23.873597  24.461886
3     4  1775.535884  42.137108  25.012776  26.222977
4     5  1961.501957  44.288847  25.911825  27.185374
5     6  2124.298656  46.090115  26.642454  27.632366

Processing input length: 384
Overall Evaluation Metrics:
MSE: 1725.6500
RMSE: 41.5409
MAE: 24.5618
MAPE: 25.21%

   step          MSE       RMSE        MAE       MAPE
0     1  1116.715914  33.417300  21.288148  22.350031
1     2  1503.662363  38.777086  23.311644  23.953063
2     3  1678.997464  40.975572  24.316598  24.874435
3     4  1840.434259  42.900283  25.376458  26.084628
4     5  2031.934117  45.076980  26.227385  26.846461
5     6  2182.155968  46.713552  26.850623  27.180493

Processing input length: 408
Overall Evaluation Metrics:
MSE: 1768.2603
RMSE: 42.0507
MAE: 24.8733
MAPE: 25.32%

   step          MSE       RMSE        MAE       MAPE
0     1  1140.698813  33.774233  21.533753  22.502440
1     2  1548.360245  39.349209  23.797332  24.401524
2     3  1724.636909  41.528748  24.605491  24.815114
3     4  1874.770654  43.298622  25.669071  26.087033
4     5  2072.477005  45.524466  26.445787  26.802707
5     6  2248.618205  47.419597  27.188116  27.320379

Processing input length: 432
Overall Evaluation Metrics:
MSE: 1822.9609
RMSE: 42.6961
MAE: 25.1901
MAPE: 25.58%

   step          MSE       RMSE        MAE       MAPE
0     1  1163.119653  34.104540  21.785075  22.784062
1     2  1605.585958  40.069764  23.968117  24.263722
2     3  1786.789273  42.270430  24.999033  25.234261
3     4  1934.818635  43.986573  25.981418  26.315278
4     5  2137.768960  46.236014  26.864779  27.317066
5     6  2309.682909  48.059161  27.541917  27.542674

Processing input length: 456
Overall Evaluation Metrics:
MSE: 1729.1124
RMSE: 41.5826
MAE: 24.9432
MAPE: 25.50%

   step          MSE       RMSE        MAE       MAPE
0     1  1146.812796  33.864625  21.670719  22.634434
1     2  1533.192978  39.156008  23.858970  24.375813
2     3  1692.707257  41.142524  24.766423  25.463015
3     4  1826.479555  42.737332  25.697152  26.177269
4     5  2010.031792  44.833378  26.555099  27.111844
5     6  2165.450025  46.534396  27.110616  27.219304

Processing input length: 480
Overall Evaluation Metrics:
MSE: 1687.6081
RMSE: 41.0805
MAE: 24.8054
MAPE: 25.72%

   step          MSE       RMSE        MAE       MAPE
0     1  1137.092306  33.720799  21.576972  22.970767
1     2  1496.893989  38.689714  23.695764  24.490660
2     3  1628.546027  40.355248  24.490669  25.324960
3     4  1780.303615  42.193644  25.610135  26.426948
4     5  1972.522436  44.413089  26.421701  27.394154
5     6  2110.290378  45.937897  27.037189  27.718225

Processing input length: 504
Overall Evaluation Metrics:
MSE: 1597.9883
RMSE: 39.9748
MAE: 24.1986
MAPE: 25.55%

   step          MSE       RMSE        MAE       MAPE
0     1  1067.653400  32.674966  21.023029  22.613987
1     2  1421.048480  37.696797  23.094770  24.385565
2     3  1555.775246  39.443317  24.033140  25.403969
3     4  1688.926596  41.096552  25.023989  26.317545
4     5  1848.295302  42.991805  25.610246  26.971840
5     6  2006.231009  44.790970  26.406622  27.621844

In [23]:
metrics_results(results_dict5)

Processing input length: 24
Overall Evaluation Metrics:
MSE: 2111.9273
RMSE: 45.9557
MAE: 31.4235
MAPE: 34.25%

   step          MSE       RMSE        MAE       MAPE
0     1  1185.527916  34.431496  23.699455  24.324120
1     2  1741.626972  41.732805  28.715293  29.754903
2     3  2056.510643  45.348767  31.278611  33.362028
3     4  2335.784180  48.329951  33.300667  36.657644
4     5  2575.258301  50.747003  35.126678  39.892904
5     6  2776.855615  52.695879  36.420494  41.523559

Processing input length: 48
Overall Evaluation Metrics:
MSE: 1946.1900
RMSE: 44.1156
MAE: 28.9377
MAPE: 31.33%

   step          MSE       RMSE        MAE       MAPE
0     1  1179.551990  34.344606  23.059380  23.927273
1     2  1634.105544  40.424071  26.671603  27.949269
2     3  1923.144193  43.853668  28.990240  30.793178
3     4  2141.896683  46.280630  30.552960  33.279199
4     5  2312.725696  48.090807  31.774612  35.430869
5     6  2485.716056  49.856956  32.577418  36.596839

Processing input length: 72
Overall Evaluation Metrics:
MSE: 1873.4104
RMSE: 43.2829
MAE: 28.0132
MAPE: 30.45%

   step          MSE       RMSE        MAE       MAPE
0     1  1152.558480  33.949352  22.681354  23.605526
1     2  1588.117251  39.851189  26.079501  27.600611
2     3  1843.543949  42.936511  28.044350  30.442638
3     4  2048.626174  45.261752  29.433839  32.221560
4     5  2231.680381  47.240664  30.547129  33.834825
5     6  2375.936287  48.743577  31.293021  35.010770

Processing input length: 96
Overall Evaluation Metrics:
MSE: 1813.1109
RMSE: 42.5806
MAE: 27.0444
MAPE: 29.29%

   step          MSE       RMSE        MAE       MAPE
0     1  1146.810202  33.864586  22.346151  23.163727
1     2  1550.141980  39.371842  25.234702  26.478336
2     3  1800.884632  42.436831  27.123811  28.964681
3     4  1990.823823  44.618649  28.361014  30.954537
4     5  2134.944425  46.205459  29.300919  32.690620
5     6  2255.060083  47.487473  29.899864  33.515829

Processing input length: 120
Overall Evaluation Metrics:
MSE: 1686.2791
RMSE: 41.0643
MAE: 25.9941
MAPE: 27.89%

   step          MSE       RMSE        MAE       MAPE
0     1  1086.865881  32.967649  21.874768  23.076804
1     2  1465.732370  38.284884  24.480516  25.742238
2     3  1680.780652  40.997325  26.052580  27.718306
3     4  1830.949965  42.789601  27.132587  29.220939
4     5  1963.577397  44.312271  27.881666  30.256864
5     6  2089.768397  45.713985  28.542596  31.339375

Processing input length: 144
Overall Evaluation Metrics:
MSE: 1672.8774
RMSE: 40.9008
MAE: 25.5553
MAPE: 26.63%

   step          MSE       RMSE        MAE       MAPE
0     1  1083.905655  32.922722  21.619752  22.477418
1     2  1462.775248  38.246245  24.042322  24.738880
2     3  1657.128209  40.707840  25.509754  26.354267
3     4  1801.616930  42.445458  26.493299  27.693795
4     5  1955.114975  44.216682  27.544524  28.975288
5     6  2076.723602  45.571083  28.122099  29.566837

Processing input length: 168
Overall Evaluation Metrics:
MSE: 1633.8836
RMSE: 40.4213
MAE: 24.8064
MAPE: 25.75%

   step          MSE       RMSE        MAE       MAPE
0     1  1070.011880  32.711036  21.320715  22.292165
1     2  1432.292429  37.845639  23.411506  24.015849
2     3  1626.021874  40.323962  24.748469  25.507334
3     4  1766.519688  42.029986  25.683972  26.741279
4     5  1896.923652  43.553687  26.577839  27.798278
5     6  2011.532359  44.850110  27.096061  28.144570

Processing input length: 192
Overall Evaluation Metrics:
MSE: 1624.5951
RMSE: 40.3063
MAE: 24.4781
MAPE: 25.02%

   step          MSE       RMSE        MAE       MAPE
0     1  1065.226122  32.637802  20.972828  21.504080
1     2  1429.026130  37.802462  23.180371  23.535230
2     3  1611.651036  40.145374  24.345501  24.860201
3     4  1753.008175  41.868940  25.380034  25.958504
4     5  1886.405031  43.432764  26.229598  26.995233
5     6  2002.253965  44.746553  26.760271  27.243476

Processing input length: 216
Overall Evaluation Metrics:
MSE: 1591.9023
RMSE: 39.8987
MAE: 24.2018
MAPE: 24.92%

   step          MSE       RMSE        MAE       MAPE
0     1  1062.159971  32.590796  20.807066  21.551627
1     2  1402.208110  37.446069  22.892554  23.565826
2     3  1572.125830  39.650042  24.047137  24.695853
3     4  1701.480381  41.249005  25.031055  25.867775
4     5  1842.985389  42.930006  25.892971  26.749725
5     6  1970.454009  44.389796  26.539945  27.065538

Processing input length: 240
Overall Evaluation Metrics:
MSE: 1629.0859
RMSE: 40.3619
MAE: 24.3523
MAPE: 24.91%

   step          MSE       RMSE        MAE       MAPE
0     1  1069.608709  32.704873  21.018453  21.877421
1     2  1430.216939  37.818209  23.099962  23.604980
2     3  1613.133289  40.163831  24.129063  24.670046
3     4  1748.923893  41.820137  25.220406  25.700570
4     5  1899.039215  43.577967  26.078435  26.588095
5     6  2013.593615  44.873083  26.567656  27.021624

Processing input length: 264
Overall Evaluation Metrics:
MSE: 1614.4125
RMSE: 40.1798
MAE: 24.2621
MAPE: 24.97%

   step          MSE       RMSE        MAE       MAPE
0     1  1049.823313  32.400977  20.951407  22.020131
1     2  1400.286748  37.420406  22.930723  23.696354
2     3  1584.951160  39.811445  24.105396  24.774047
3     4  1731.007225  41.605375  25.039440  25.733757
4     5  1885.532124  43.422714  25.935729  26.538183
5     6  2034.874402  45.109582  26.609998  27.033809

Processing input length: 288
Overall Evaluation Metrics:
MSE: 1608.2389
RMSE: 40.1029
MAE: 24.1850
MAPE: 24.90%

   step          MSE       RMSE        MAE       MAPE
0     1  1044.073972  32.312134  20.890700  22.067796
1     2  1396.165003  37.365291  22.827755  23.603147
2     3  1586.508719  39.831002  23.990025  24.586639
3     4  1718.782420  41.458201  24.968083  25.686786
4     5  1881.615827  43.377596  25.861253  26.529844
5     6  2022.287219  44.969848  26.572152  26.924365

Processing input length: 312
Overall Evaluation Metrics:
MSE: 1573.8464
RMSE: 39.6717
MAE: 23.9404
MAPE: 25.06%

   step          MSE       RMSE        MAE       MAPE
0     1  1024.308931  32.004827  20.725573  22.108458
1     2  1366.438688  36.965371  22.731770  23.911256
2     3  1544.544014  39.300687  23.690234  24.647908
3     4  1679.419598  40.980722  24.656735  25.731442
4     5  1840.556746  42.901710  25.517703  26.762549
5     6  1987.810685  44.584871  26.320361  27.206270

Processing input length: 336
Overall Evaluation Metrics:
MSE: 1603.0979
RMSE: 40.0387
MAE: 23.8959
MAPE: 24.77%

   step          MSE       RMSE        MAE       MAPE
0     1  1048.056624  32.373703  20.886703  22.178757
1     2  1406.628524  37.505047  22.728025  23.652010
2     3  1568.203678  39.600551  23.607420  24.392991
3     4  1714.679552  41.408689  24.692020  25.235454
4     5  1868.433006  43.225375  25.379417  26.316485
5     6  2012.586098  44.861856  26.081796  26.823027

Processing input length: 360
Overall Evaluation Metrics:
MSE: 1649.3519
RMSE: 40.6122
MAE: 24.1959
MAPE: 25.07%

   step          MSE       RMSE        MAE       MAPE
0     1  1068.147378  32.682524  20.986594  22.176624
1     2  1436.270554  37.898160  22.866724  23.680258
2     3  1601.791899  40.022392  23.893108  24.678507
3     4  1755.866113  41.903056  25.016237  25.675068
4     5  1928.150537  43.910711  25.812602  26.861212
5     6  2105.885150  45.889924  26.600424  27.342721

Processing input length: 384
Overall Evaluation Metrics:
MSE: 1692.0394
RMSE: 41.1344
MAE: 24.3550
MAPE: 25.01%

   step          MSE       RMSE        MAE       MAPE
0     1  1098.176075  33.138740  21.103880  22.297248
1     2  1461.317322  38.227180  23.051134  23.813064
2     3  1640.975390  40.508954  23.983691  24.535728
3     4  1798.235210  42.405604  25.080653  25.578474
4     5  1991.834766  44.629976  26.060674  26.753132
5     6  2161.697488  46.494059  26.849902  27.093431

Processing input length: 408
Overall Evaluation Metrics:
MSE: 1732.9041
RMSE: 41.6282
MAE: 24.6728
MAPE: 25.18%

   step          MSE       RMSE        MAE       MAPE
0     1  1117.243180  33.425188  21.366358  22.469976
1     2  1500.235282  38.732871  23.401413  24.043373
2     3  1687.682094  41.081408  24.361340  24.800225
3     4  1840.352889  42.899334  25.482748  25.877235
4     5  2038.031235  45.144559  26.295363  26.707152
5     6  2213.879938  47.051886  27.129477  27.200898

Processing input length: 432
Overall Evaluation Metrics:
MSE: 1806.1583
RMSE: 42.4989
MAE: 25.0892
MAPE: 25.31%

   step          MSE       RMSE        MAE       MAPE
0     1  1141.275256  33.782766  21.594742  22.559612
1     2  1541.669588  39.264100  23.642547  24.157520
2     3  1752.820712  41.866702  24.725116  24.749264
3     4  1932.004304  43.954571  25.934647  25.773159
4     5  2148.105154  46.347655  26.939748  27.264796
5     6  2321.074526  48.177531  27.698427  27.328196

Processing input length: 456
Overall Evaluation Metrics:
MSE: 1705.8717
RMSE: 41.3022
MAE: 24.7248
MAPE: 25.10%

   step          MSE       RMSE        MAE       MAPE
0     1  1114.466506  33.383626  21.417539  22.440802
1     2  1478.846775  38.455777  23.454606  23.841001
2     3  1657.790825  40.715978  24.436786  24.793169
3     4  1806.746333  42.505839  25.547082  25.899656
4     5  2012.859531  44.864903  26.355028  26.644384
5     6  2164.520357  46.524406  27.137950  27.006422

Processing input length: 480
Overall Evaluation Metrics:
MSE: 1644.3676
RMSE: 40.5508
MAE: 24.4520
MAPE: 25.20%

   step          MSE       RMSE        MAE       MAPE
0     1  1108.494601  33.294063  21.289274  22.531397
1     2  1450.233814  38.081936  23.395243  24.344996
2     3  1571.857737  39.646661  24.015932  24.750612
3     4  1735.293801  41.656858  25.361793  25.891548
4     5  1932.992703  43.965813  26.004545  26.615075
5     6  2067.333149  45.467935  26.645087  27.074050

Processing input length: 504
Overall Evaluation Metrics:
MSE: 1575.1554
RMSE: 39.6882
MAE: 23.9211
MAPE: 25.04%

   step          MSE       RMSE        MAE       MAPE
0     1  1054.598508  32.474582  20.949148  22.584264
1     2  1377.405310  37.113411  22.798492  24.223898
2     3  1524.389729  39.043434  23.694422  24.978235
3     4  1673.003816  40.902369  24.727979  25.424359
4     5  1834.543857  42.831575  25.285924  26.265561
5     6  1986.991218  44.575680  26.070774  26.741689